<section class='graph-content'>
    <div class='container graph-content-wrapper'>
        <div class='page-header'>
          <p class='page-header__text page-header__text_yellow-small'>important</p>
          <p class='page-header__text page-header__text_yellow-bold'>statistical data</p>
        </div>
        <div class='third-page__graph'>
        </div>
        <div class='stats'>
          <div class='stats__item'>
            <div class='stats_label_1'></div>
            <p class='stats__number'>
              1,100
            </p>
            <p class='stats__text'>
              Data Sets Available (across this site and the GeoHub)
            </p>
          </div>
          <div class='stats__item'>
            <div class='stats_label_2'></div>
            <p class='stats__number'>
              1,690,173
            </p>
            <p class='stats__text'>
              Employment LA City 2016
            </p>
          </div>
          <div class='stats__item'>
            <div class='stats_label_3'></div>
            <p class='stats__number'>
              166,243
            </p>
            <p class='stats__text'>
              Total Businesses LA City
            </p>
          </div>
          <div class='stats__item'>
            <div class='stats_label_4'></div>
            <p class='stats__number'>
              55,817
            </p>
            <p class='stats__text'>
              Housing Permits Issues (April 2017)
            </p>
          </div>
        </div>
      </div>
</section>
