<section class='graph-content'>
  <div class='container graph-content-wrapper'>
    <div class='page-title'>
      <p class='yellow-txt up-txt'>important</p>
      <p class='yellow-txt large-txt bold-txt padding-b-15 up-txt'>statistical data</p>
    </div>
    <div class='third-page__graph'></div>
    <ul class='stats'>
      <li class='stats__item'>
        <div class='stats_label_1'></div>
        <p class='stats__number'>
        <span class="stats__number-1">
          0
        </span>
        </p>
        <p class='stats__text'>
          Data Sets Available (across this site and the GeoHub)
        </p>
      </li>
      <li class='stats__item'>
        <div class='stats_label_2'></div>
        <p class='stats__number'>
          <span class="stats__number-2">
            0
          </span>
        </p>
        <p class='stats__text'>
          Employment LA City 2016
        </p>
      </li>
      <li class='stats__item'>
        <div class='stats_label_3'></div>
        <p class='stats__number'>
          <span class="stats__number-3">
            0
          </span>
        </p>
        <p class='stats__text'>
          Total Businesses LA City
        </p>
      </li>
      <li class='stats__item'>
        <div class='stats_label_4'></div>
        <p class='stats__number'>
          <span class='stats__number-4'>
            0
          </span>
        </p>
        <p class='stats__text'>
          Housing Permits Issues (April 2017)
        </p>
      </li>
    </ul>
  </div>
</section>
