<section class='case-studies'>
    <div class='container case-studies-wrapper'>
        <div class='page-title'>
          <p class='grey-txt fira-sans-font up-txt'>specifically</p>
          <p class='large-txt black-txt bold-txt up-txt up-txt'>case studies</p>
        </div>
        <div class='fourth-page-pics'>
          <div class='fourth-page-pics__first'>
            <div class='fourth-page-pics__inner'>
              <div class='page-title'>
                <p class='yellow-txt bold-txt large-txt padding-b-15 up-txt'>sample</p>
                <p class='white-txt small-txt c-al-txt'>Nulla lorem eros, laoreet sit amet est vehicula, consequat laoreet justo. Donec porttitor nulla tellus, nec sodales magna viverra in. Suspendisse potenti.</p>
              </div>
              <div class='page-header__button'>
                <input type="button" value="view" class="buttons__button margin-r-0 padding-r-50 padding-l-50">
              </div>
            </div>
          </div>
          <div class='fourth-page-pics__others'>
            <div class='fourth-page-pics__others-top'>
              <div class='fourth-page-pics__inner page-title'>
                <p class='yellow-txt bold-txt large-txt padding-b-15 up-txt'>second</p>
                <p class='white-txt small-txt c-al-txt'>Nulla lorem eros, laoreet sit amet est vehicula, consequat laoreet justo. Donec porttitor nulla tellus, nec sodales magna viverra in. Suspendisse potenti.</p>
              </div>
              <div class='page-header__button margin-b-30'>
                <input type="button" value="view" class="buttons__button margin-r-0 padding-r-50 padding-l-50">
              </div>
            </div>
            <div class='fourth-page-pics__others-bottom'>
              <div class='fourth-page-pics__others-bottom-left'>
                <div class='fourth-page-pics__pic'>
                </div>
                <div class='page-title padding-t-0 padding-b-0'>
                  <p class='large-txt black-txt bold-txt up-txt'>third</p>
                  <p class='small-txt c-al-txt'>Nulla lorem eros, laoreet sit amet est vehicula, isse potenti.</p>
                </div>
                <div class='page-header__button margin-b-0'>
                  <input type="button" value="view" class="buttons__button bg-trnsprnt border-1-s-black padding-r-50 padding-l-50 margin-r-0">
                </div>
              </div>
              <div class='fourth-page-pics__others-bottom-right'>
                <div class='fourth-page-pics__pic2'>
                </div>
                <div class='page-title padding-t-0 padding-b-0'>
                  <p class='large-txt black-txt bold-txt up-txt'>fourth</p>
                  <p class='small-txt c-al-txt'>Nulla lorem eros, laoreet sit amet est vehicula, isse potenti.</p>
                </div>
                <div class='page-header__button margin-b-0'>
                  <input type="button" value="view" class="buttons__button bg-trnsprnt border-1-s-black padding-r-50 padding-l-50 margin-r-0">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
