<section>
  <div class='case-studies'>
    <div class='container'>
      <div class='case-studies-wrapper'>
        <div class='page-header'>
          <p class='page-header__text page-header__text_grey-small-fira-sans'>specifically</p>
          <p class='page-header__text page-header__text_black-bold'>case studies</p>
        </div>
        <div class='fourth-page-pics'>
          <div class='fourth-page-pics__first'>
            <div class='fourth-page-pics__inner'>
              <div class='page-header'>
                <p class='page-header__text page-header__text_yellow-bold'>sample</p>
                <p class='page-header__text page-header__text_white-small'>Nulla lorem eros, laoreet sit amet est vehicula, consequat laoreet justo. Donec porttitor nulla tellus, nec sodales magna viverra in. Suspendisse potenti.</p>
              </div>
              <div class='page-header__button'>
                <input type="button" value="view" class="buttons__button page-header__button_long">
              </div>
            </div>
          </div>
          <div class='fourth-page-pics__others'>
            <div class='fourth-page-pics__others-top'>
              <div class='page-header'>
                <p class='page-header__text page-header__text_yellow-bold'>second</p>
                <p class='page-header__text page-header__text_white-small'>Nulla lorem eros, laoreet sit amet est vehicula, consequat laoreet justo. Donec porttitor nulla tellus, nec sodales magna viverra in. Suspendisse potenti.</p>
              </div>
              <div class='page-header__button page-header__button_small-margin'>
                <input type="button" value="view" class="buttons__button page-header__button_long">
              </div>
            </div>
            <div class='fourth-page-pics__others-bottom'>
              <div class='fourth-page-pics__others-bottom-left'>
                <div class='fourth-page-pics__pic'>
                </div>
                <div class='page-header page-header_no-padding'>
                  <p class='page-header__text page-header__text_black-bold'>third</p>
                  <p class='page-header__text page-header__text_black-small'>Nulla lorem eros, laoreet sit amet est vehicula, isse potenti.</p>
                </div>
                <div class='page-header__button page-header__button_no-margin'>
                  <input type="button" value="view" class="buttons__button page-header__button_transparent">
                </div>
              </div>
              <div class='fourth-page-pics__others-bottom-right'>
                <div class='fourth-page-pics__pic2'>
                </div>
                <div class='page-header page-header_no-padding'>
                  <p class='page-header__text page-header__text_black-bold'>fourth</p>
                  <p class='page-header__text page-header__text_black-small'>Nulla lorem eros, laoreet sit amet est vehicula, isse potenti.</p>
                </div>
                <div class='page-header__button page-header__button_no-margin'>
                  <input type="button" value="view" class="buttons__button page-header__button_transparent">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
