<section class='technologies'>
    <div class='container technologies-wrapper'>
        <div class='page-header'>
          <p class='page-header__text page-header__text_grey-small-fira-sans'>our</p>
          <p class='page-header__text page-header__text_black-bold'>technologies</p>
        </div>
        <div class='technologies__pics'>
          <div class='technologies__dot-net'></div>
          <div class='technologies__open-source'></div>
          <div class='technologies__android'></div>
          <div class='technologies__amazon'></div>
          <div class='technologies__azure'></div>
          <div class='technologies__java'></div>
          <div class='technologies__html'></div>
          <div class='technologies__rails'></div>
        </div>
      </div>
</section>
