<section class='technologies'>
  <div class='container technologies-wrapper'>
    <div class='page-title'>
      <p class='fira-sans-font grey-txt up-txt'>our</p>
      <p class='black-txt large-txt bold-txt lh-33 up-txt'>technologies</p>
    </div>
    <div class='technologies__pics'>
      <div class='technologies__dot-net'></div>
      <div class='technologies__open-source'></div>
      <div class='technologies__android'></div>
      <div class='technologies__amazon'></div>
      <div class='technologies__azure'></div>
      <div class='technologies__java'></div>
      <div class='technologies__html'></div>
      <div class='technologies__rails'></div>
    </div>
  </div>
</section>
