<section>
  <div class='table-wrapper'>
    <table>
      <caption>Monthly Report</caption>
      <thead>
        <tr>
          <td>Resources:</td>
          <td>January</td>
          <td>February</td>
          <td>March</td>
          <td>April</td>
          <td>May</td>
          <td>June</td>
          <td>July</td>
          <td>August</td>
          <td>September</td>
          <td>October</td>
          <td>November</td>
          <td>December</td>
        </tr>
      </thead>
      <div>
        <div>
          <tr><td>NameNameName</td></tr>
          <tr><td>Name 2</td></tr>
          <tr><td>Name 3</td></tr>
          <tr><td>Name 4</td></tr>
          <tr><td>NameNameName</td></tr>
          <tr><td>Name 2</td></tr>
          <tr><td>Name 3</td></tr>
          <tr><td>Name 4</td></tr>
        </div>
        <div>
          <tr>
            <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td>
            <td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td>
          </tr>
          <tr>
            <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td>
            <td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td>
          </tr>
          <tr>
            <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td>
            <td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td>
          </tr>
          <tr>
            <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td>
            <td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td>
          </tr>
          <tr>
            <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td>
            <td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td>
          </tr>
          <tr>
            <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td>
            <td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td>
          </tr>
          <tr>
            <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td>
            <td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td>
          </tr>
          <tr>
            <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td>
            <td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td>
          </tr>
        </div>
      </div>
    </table>
  </div>
</section>
