* {
  padding: 0;
  margin: 0;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 12px;
}
li {
  list-style-type: none;
  padding-right: 20px;
}
ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.container {
  width: 1030px;
  height: auto;
  margin: 0 auto;
}
.header-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}
.logo {
  width: 96px;
  height: 49px;
  background: url('../components/div/img/RIITS.png') no-repeat;
}
.search {
  width: 19px;
  height: 19px;
  border: 0;
  background: url('../components/div/img/Search.png') no-repeat;
}
.login {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
}
.transportation-data {
  height: 837px;
  margin: 0 auto;
  background: url('../components/div/img/austin-lee-169218.png') no-repeat;
  background-size: cover;
}
.blabla__real-time {
  text-transform: uppercase;
  color: #5e2900;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 74px;
  margin-top: 140px;
}
.blabla__description {
  width: 468px;
  margin-top: 50px;
  margin-left: 1px;
  line-height: 25px;
}
.buttons {
  margin-top: 44px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 100px;
}
.buttons__button {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 12px;
  background-color: #ffd800;
  border: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 31px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 31px;
}
.mouse {
  width: 24px;
  height: 50px;
  background: url('../components/div/img/mouse.png') no-repeat;
  margin: 0 auto;
}
.real-time-information {
  height: 837px;
  background: url('../components/div/img/truck.png') no-repeat;
  background-size: cover;
}
.graph-content {
  width: 100%;
  height: 837px;
  background: black;
}
.page-header {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 42px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.page-header__text {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.page-header__text_yellow-small {
  color: #ffd200;
  font-size: 13px;
  font-weight: normal;
}
.page-header__text_yellow-small-fira-sans {
  font-family: 'Fira Sans', sans-serif;
  color: #ffd200;
  font-size: 13px;
  font-weight: normal;
}
.page-header__text_black-small-fira-sans {
  font-family: 'Fira Sans', sans-serif;
  color: black;
  font-size: 13px;
  font-weight: normal;
}
.page-header__text_yellow-bold {
  color: #ffd200;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
}
.page-header__text_yellow-bold-fira-sans {
  color: #ffd200;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
}
.third-page__graph {
  width: 1001px;
  height: 316px;
  margin-bottom: 56px;
  background: url('../components/div/img/Graph.png') no-repeat;
}
.graph-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
}
.stats {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200px;
}
.stats__item {
  width: calc(100% / 4);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.stats__number {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #ffd200;
}
.stats_label_1 {
  width: 73px;
  height: 70px;
  background: url('../components/div/img/stats/bus.png') no-repeat;
  background-size: contain;
}
.stats_label_2 {
  width: 73px;
  height: 70px;
  background: url('../components/div/img/stats/buggy.png') no-repeat;
}
.stats_label_3 {
  width: 73px;
  height: 70px;
  background: url('../components/div/img/stats/labels.png') no-repeat;
}
.stats_label_4 {
  width: 73px;
  height: 70px;
  background: url('../components/div/img/stats/disabled.png') no-repeat;
}
.stats__text {
  color: white;
  text-align: center;
}

.case-studies {
  width: 100%;
  height: 896px;
  background: #ffffff;
  border-top: 1px solid #7a7b7b;
}
.case-studies-wrapper {
  display: flex;
  flex-flow: column nowrap;
}
.page-header__text_white-small {
  color: white;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
}
.page-header__text_black-bold {
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.page-header__text_yellow-bold {
  color: #ffd200;
  font-size: 30px;
  font-weight: bold;
}
.fourth-page-pics {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.fourth-page-pics__first {
  width: 629px;
  height: 739px;
  background: url('../components/div/img/night-city.png') no-repeat;
  box-shadow: 10px 10px 8px #888888;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.fourth-page-pics__first:hover {
  box-shadow: 0px 10px 8px #888888;
  transition: 1s ease-in-out;
}
.fourth-page-pics__inner {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.page-header__text_grey-small-fira-sans {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  color: #939393;
}
.page-header__button {
  margin: 0 auto;
  margin-bottom: 60px;
}
.page-header__button_long {
  margin-right: 0;
  padding-right: 50px;
  padding-left: 50px;
}
.fourth-page-pics__others {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.fourth-page-pics__others-top {
  width: 370px;
  height: 369px;
  background: url('../components/div/img/hills.png') no-repeat;
  box-shadow: 0px 8px 13px #888888;
  background-size: cover;                                                                           //масштабирование под размеры
  background-position: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}
.page-header__button_small-margin {
  margin-bottom: 30px;
}
.fourth-page-pics__others-bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 370px;
  height: 292px;
}
.fourth-page-pics__others-bottom-left {
  width: 45%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.fourth-page-pics__pic {
  width: 109px;
  height: 111px;
  background: url('../components/div/img/van.png') no-repeat;
}
.page-header__text_black-small {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}
.page-header__button_transparent {
  background-color: transparent;
  border: 1px solid black;
  margin-right: 0;
  padding-right: 50px;
  padding-left: 50px;
}
.page-header__button_no-margin {
  margin-bottom: 0px;
}
.page-header_no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}
.fourth-page-pics__others-bottom-right {
  width: 45%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.fourth-page-pics__pic2 {
  width: 109px;
  height: 111px;
  background: url('../components/div/img/cab.png') no-repeat;
  background-size: cover;
  background-position: center;
}
.benefits-content {
  width: 100%;
  height: 896px;
  background: #ffffff;
}
.benefits-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.benefits-content__pic {
  width: 103px;
  height: 195px;
  background: url('../components/div/img/rocket.png') no-repeat;
}
.benefits-content__left-pic {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
footer {
  background: black;
}
.footer-title {
  padding-bottom: 60px;
}
.footer-wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
}
.footer-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.footer-btn {
  padding-bottom: 60px;
}
.footer-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.footer-info__left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.footer-info__social {
  padding-bottom: 30px;
}
.footer-info__social-link {
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 60px;
}
.facebook {
  background: url('../components/div/img/footer/facebook.png') no-repeat;
}
.twitter {
  background: url('../components/div/img/footer/twitter.png') no-repeat;
}
.instagram {
  background: url('../components/div/img/footer/instagram.png') no-repeat;
  margin-right: 0px;
}
.footer-info__site-map p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: grey;
  text-transform: uppercase;
}
.footer-info__page-links {
  display: flex;
  flex-flow: row column;
}
.footer-info__page-links a {
  font-size: 13px;
  color: white;
  text-transform: capitalize;
}
.footer-info__page-links ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}
.footer-info__page-links li {
padding-top: 20px;
}
.footer-info__riits-logo {
  display: inline-block;
  width: 96px;
  height: 49px;
  border: 0;
  padding-bottom: 40px;
  background: url('../components/div/img/footer/riits_logo.png') no-repeat;
}
.footer-info__text p {
  font-family: 'Fira Sans', sans-serif;
  color: white;
  font-size: 13px;
}
.footer-info__right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 50%;
}
.footer-info__copyright {
  padding-top: 30px;
}
.footer-info__other-logos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.footer-info__metro {
  display: inline-block;
  width: 158px;
  height: 103px;
  border: 0;
  margin-right: 60px;
  background: url('../components/div/img/footer/metro.png') no-repeat;
  background-position: center;
}
.buttons__button_no-margin {
  margin-right: 0px;
}
.footer-info__la {
  display: inline-block;
  width: 149px;
  height: 103px;
  border: 0;
  background: url('../components/div/img/footer/la.png') no-repeat;
}
@media only screen and (max-width: 690px) {
  .footer-title {
    padding-top: 100px;
    text-align: center;
  }
}
@media only screen and (max-width: 1030px) {
  .container {
    width: auto;
  }
}
@media only screen and (max-width: 1100px) {
  .footer-info, .footer-info__page-links {
    flex-flow: column wrap;
  }
  .footer-wrapper, .footer-info, .footer-info__left {
    align-items: center;
  }

  .footer-info__right {
    margin-top: 40px;
    align-items: center;
  }

  .footer-info__page-links li {
    padding-top: 20px;
    text-align: center;
  }
  .footer-info__text p {
    text-align: center;
  }
  .footer-info__instagram, .buttons__button {
    margin-right: 0px;
  }
  li {
    padding-right: 0px;
  }
}
.page-header__text_yellow-bold-no-padding {
  padding-bottom: 0px;
}
