/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

img {
  background-size: contain;
}

* {
  padding: 0;
  margin: 0;
}
#root {
  background: #e7e7e7;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 12px;
}
li {
  list-style-type: none;
  padding-right: 20px;
}
ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.container {
  width: 1030px;
  height: auto;
  margin: 0 auto;
}
.header-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}
.nav-opener {
  width: 32px;
  height: 32px;
  background: url('../components/div/img/hamburger-brown.png') no-repeat;
  position: fixed;
  left: 5px;
  top: 5px;
}
.logo {
  width: 96px;
  height: 49px;
  background: url('../components/div/img/RIITS.png') no-repeat;
}
.search {
  width: 19px;
  height: 19px;
  border: 0;
  background: url('../components/div/img/Search.png') no-repeat;
}
.login {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
}
.transportation-data {
  height: 837px;
  margin: 0 auto;
  background: url('../components/div/img/austin-lee-169218.png') no-repeat;
  background-size: cover;
}
.blabla__real-time {
  text-transform: uppercase;
  color: #5e2900;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 74px;
  margin-top: 140px;
}
.blabla__description {
  width: 468px;
  margin-top: 50px;
  margin-left: 1px;
  line-height: 25px;
}
.buttons {
  margin-top: 44px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 100px;
}
.buttons__button {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 12px;
  background-color: #ffd800;
  border: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 31px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 31px;
}
.mouse {
  width: 24px;
  height: 50px;
  background: url('../components/div/img/mouse.png') no-repeat;
  margin: 0 auto;
}
.real-time-information {
  height: 837px;
  background: url('../components/div/img/truck.png') no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.graph-content {
  width: 100%;
  height: 837px;
  background: black;
}
.page-header {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 42px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.page-header__text {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.page-header__text-capitalize {
  text-transform: capitalize;
}
.page-header__text_yellow-small {
  color: #ffd200;
  font-size: 13px;
  font-weight: normal;
}
.page-header__text_yellow-small-bold {
  color: #ffd200;
  font-size: 13px;
  font-weight: bold;
}
.page-header__text_yellow-small-fira-sans {
  font-family: 'Fira Sans', sans-serif;
  color: #ffd200;
  font-size: 13px;
  font-weight: normal;
}
.page-header__text_black-small-fira-sans {
  font-family: 'Fira Sans', sans-serif;
  color: black;
  font-size: 13px;
  font-weight: normal;
}
.page-header__text_yellow-bold {
  color: #ffd200;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
}
.page-header__text_grey-bold {
  color: #dcdcdc;
  font-size: 30px;
  font-weight: bold;
}
.page-header__text_white-bold {
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
}
.page-header__text_yellow-bold-fira-sans {
  color: #ffd200;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
}
.third-page__graph {
  height: 316px;
  margin-bottom: 56px;
  background: url('../components/div/img/Graph.png') no-repeat;
  background-size: contain;
}
.graph-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
}
.stats {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200px;
}
.stats__item {
  width: calc(100% / 4);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.stats__number {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #ffd200;
}
.stats_label_1 {
  width: 73px;
  height: 70px;
  background: url('../components/div/img/stats/bus.png') no-repeat;
  background-size: contain;
}
.stats_label_2 {
  width: 73px;
  height: 70px;
  background: url('../components/div/img/stats/buggy.png') no-repeat;
}
.stats_label_3 {
  width: 73px;
  height: 70px;
  background: url('../components/div/img/stats/labels.png') no-repeat;
}
.stats_label_4 {
  width: 73px;
  height: 70px;
  background: url('../components/div/img/stats/disabled.png') no-repeat;
}
.stats__text {
  color: white;
  text-align: center;
}

.case-studies {
  width: 100%;
  height: 896px;
  margin-bottom: 60px;
  background: #e7e7e7;
  border-top: 1px solid #7a7b7b;
}
.case-studies-wrapper {
  display: flex;
  flex-flow: column nowrap;
}
.page-header__text_white-small {
  color: white;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
}
.page-header__text_white-small-left-align {
  text-align: left;
  margin-left: 25px;
}
.not-shown {
  display: none;
}
.content-type, .topics, .tags, .format, .author, .license {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.arrow-up {
  width: 7px;
  height: 4px;
  background: url('../components/div/img/ArrowUp.png') no-repeat;
  margin-left: 5px;
}
.qwe {
  flex-flow: column nowrap;
}
.arrow-down {
  background: url('../components/div/img/ArrowDown.png') no-repeat;
}
.content-type-content__btn {
  background: transparent;
  border: 0;
}
.page-header__text_black-bold {
  color: black;
  font-size: 30px;
  font-weight: bold;
  line-height: 33px;
}
.page-header__text_black-bold-small {
  font-size: 14px;
  padding-bottom: 15px;
}
.page-header__text_yellow-bold {
  color: #ffd200;
  font-size: 30px;
  font-weight: bold;
}
.fourth-page-pics {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.fourth-page-pics__first {
  width: 629px;
  height: 739px;
  background: url('../components/div/img/night-city.png') no-repeat;
  box-shadow: 0px 8px 13px #888888;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.fourth-page-pics__first:hover {
  box-shadow: 0px 10px 8px #888888;
  transition: 1s ease-in-out;
}
.fourth-page-pics__inner {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.page-header__text_grey-small-fira-sans {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  color: #939393;
}
.page-header__text_grey-small-fira-sans-left-align {
  font-family: 'Fira Sans', sans-serif;
  text-align: left;
  color: #939393;
  font-size: 13px;
}
.page-header__button {
  margin: 0 auto;
  margin-bottom: 60px;
}
.page-header__button_long {
  margin-right: 0;
  padding-right: 50px;
  padding-left: 50px;
}
.fourth-page-pics__others {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.fourth-page-pics__others-top {
  width: 370px;
  height: 369px;
  background: url('../components/div/img/hills.png') no-repeat;
  box-shadow: 0px 8px 13px #888888;
  background-size: cover;                                                                           //масштабирование под размеры
  background-position: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}
.page-header__button_small-margin {
  margin-bottom: 30px;
}
.fourth-page-pics__others-bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 370px;
  height: 292px;
}
.fourth-page-pics__others-bottom-left {
  width: 45%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.fourth-page-pics__pic {
  width: 109px;
  height: 111px;
  background: url('../components/div/img/van.png') no-repeat;
}
.page-header__text_black-small {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}
.page-header__button_transparent {
  background-color: transparent;
  border: 1px solid black;
  margin-right: 0;
  padding-right: 50px;
  padding-left: 50px;
}
.page-header__button_no-margin {
  margin-bottom: 0px;
}
.page-header_no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}
.fourth-page-pics__others-bottom-right {
  width: 45%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.fourth-page-pics__pic2 {
  width: 109px;
  height: 111px;
  background: url('../components/div/img/cab.png') no-repeat;
  background-size: cover;
  background-position: center;
}



.benefits-content {
  height: auto;
  background: #e7e7e7;
  margin-bottom: 60px;
}
.benefits-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.benefits-content__large-pics {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 130px;
}
.benefits-content__pic {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 50%;
}
.benefits-content__left-pic {
  width: 198px;
    height: 198px;
    background: url('../components/div/img/rocket.png') no-repeat;
    background-position: center;
    padding-right: 30px;
}
.benefits-content__right-pic {
  width: 198px;
  height: 198px;
  background: url('../components/div/img/bcycle.png') no-repeat;
  padding-right: 30px;
}
.page-header_width-no-margin {
  margin: 0;
  width: 65%;
  justify-content: flex-start;
  align-items: flex-start;
}
.page-header__text_black-small-fira-sans-font-size {
  font-size: 16px;
}
.benefits-content__small-pics {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.benefits-content__small-pic-wrapper {
  height: 300px;
  max-width: 250px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
.benefits-content__small-pic {
  margin: 0 auto;
  width: 75%;
  min-height: 225px;
  // background: url('../components/div/img/sprites/benefits-s.png') -58px -10px;
}
.benefits-content__small-pic-wrapper:hover {
  background: white;
  box-shadow: 0px 8px 13px #888888;
}
.benefits-content__img {
  height: 100px;
  width: 155px;
}
.page-header__text_black-bold-padding {
  padding-bottom: 30px;
  font-size: 16px;
  width: 100%;
}

.benefits-content__plane {
  background: url('../components/div/img/sprites/benefits-s.png') 0px 0px;
}
.benefits-content__f1 {
  background: url('../components/div/img/sprites/benefits-s.png') -265px 0px;
}
.benefits-content__beatle {
  background: url('../components/div/img/sprites/benefits-s.png') -512px 0px;
}
.benefits-content__rabbit {
  background: url('../components/div/img/sprites/benefits-s.png') -790px 0px;
}


footer {
  background: black;
}
.footer-title {
  padding-bottom: 60px;
  padding-bottom: 35px;
}
.footer-wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
}
.footer-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.footer-btn {
  padding-bottom: 60px;
}
.footer-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.footer-info__left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.footer-info__social {
  padding-bottom: 30px;
}
.footer-info__social-link {
  display: inline-block;
  width: 28px;
  height: 27px;
  margin-right: 60px;
}
.facebook {
  background: url('../components/div/img/sprites/facebook_css_sprites.png') -57px -10px;;
}
.facebook:hover {
  background: url('../components/div/img/sprites/facebook_css_sprites.png') -10px -10px;
}
.twitter {
  background: url('../components/div/img/sprites/twitter_css_sprites.png') -57px -57px;
}
.twitter:hover {
  background: url('../components/div/img/sprites/twitter_css_sprites.png') -10px -57px;
}
.instagram {
  background: url('../components/div/img/sprites/instagram_css_sprites.png') -58px -10px;
  margin-right: 0px;
}
.instagram:hover {
  background: url('../components/div/img/sprites/instagram_css_sprites.png') -10px -10px;
}


.types-transportation-data {
  height: auto;
  background: #1b1d1c;
}
.types-transportation-data-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding-bottom: 60px;
}
.types-transportation-data__schedule {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.types-transportation-data__dropdowns {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  max-width: 130px;
}
.dropdowns {
  min-width: 200px;
  height: auto;
  cursor: default;
}
.dropdown {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
}
.search-results__search-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #ffd200;
  margin-bottom: 40px;
}
.search-results__results {
  width: 100%;
  height: 85%;
  border: 4px solid #d27b00;
  background: white;
  box-shadow: 0px 8px 13px #d27b00;;
}
.search-results__results-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px;
}
.search-results__header {

}
.search-results__results {
  width: auto;
}
.search-results__atual-results {
  color: black;
  font-weight: 300;
}
.search-results__filter {
  display: flex;
  flex-flow: row nowrap;
  justif-content: space-between;
}
.search-results__sort-by-filter {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}
.search-results__filter-text {
  font-family: 'Fira Sans', sans-serif;
  font-size: 13px;
  color: #686868;
}
.search-results__sort-by-filter-select {
  background: transparent;
  border: 0;
  text-decoration: underline;
  font-weight: bold;
}
.search-results__item {
  width: auto;
  height: auto;
  border-bottom: 1px solid #cccccc;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
}
.search-results__sub-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 15px;
}
.search-results__text-description {
  font-family: 'Fira Sans', sans-serif;
  font-size: 13px;
  color: #686868;
}
.search-results__transportation-bus-img {
  width: 15px;
  height: 19px;
  background: url('../components/div/img/shuffle-bus.png') no-repeat;
  background-position: center;
}
.search-results {
  display: flex;
  flex-flow: column nowrap;
  width: 75%;
}
.search-results__zoom-glass {
  width: 19px;
  height: 19px;
  background: url('../components/div/img/zoom.png') no-repeat;
  padding-bottom: 10px;
}
.search-results__search-input {
  width: calc(100% - 200px);
  height: 30px;
  padding-left: 10px;
  font-size: 30px;
  background: transparent;
  border: 0;
  padding-bottom: 10px;
  color: #604c18;
  text-transform:  uppercase;
}
.search-results__search-button {
  width: 25%;
  background: #ffd200;
  border: 0;
  line-height: 40px;
  text-transform: uppercase;
}

::placeholder {
    color: #604c18;
}


.map {
  height: 837px;
  width: 100%;
  background: url('../components/div/img/map.png') no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: -385px;
}
.map-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.map__info {
  width: 300px;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  background: #ffd200;
}
.map__info-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.standarts {
  height: auto;
  background: #e7e7e7;
}
.standarts-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.standarts__text {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.standarts__text-left, .standarts__text-middle {
  width: 35%;
}
.standarts__text-right {
  width: 20%;
}
.page-header__text-padding {
  padding-bottom: 40px;
}
.page-header__side-paddings {
  padding-left: 30px;
  padding-right: 30px;
}
.page-header__text_black-small-align-left {
  text-align: left;
}
.page-header__text_grey-small-fira-sans-light-italic {
  font-family: 'Fira Sans', sans-serif;
  font-family: italic;
  font-style: italic;
  font-size: 24px;
}
.page-header__no-padding-bottom {
  padding-bottom: 0px;
  align-items: baseline;
}


.technologies {
  height: auto;
  background: #e7e7e7;
}
.technologies-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.technologies__pics {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 60px;
}
// .technologies__pic {
//   width: 1142px;
//   height: 131px;
//   background: url('../components/div/img/technologies.png') no-repeat;
//   background-size: contain;
// }

.technologies__dot-net {
  width: 168px;
  height: 131px;
  background: url('../components/div/img/technologies/dotNET.png') no-repeat;
}
.technologies__open-source {
  width: 117px;
  height: 131px;
  background: url('../components/div/img/technologies/open-source.png') no-repeat;
}
.technologies__android {
  width: 91px;
  height: 131px;
  background: url('../components/div/img/technologies/android.png') no-repeat;
}
.technologies__amazon {
  width: 170px;
  height: 131px;
  background: url('../components/div/img/technologies/amazon.png') no-repeat;
}
.technologies__azure {
  width: 121px;
  height: 131px;
  background: url('../components/div/img/technologies/azure.png') no-repeat;
}
.technologies__java {
  width: 143px;
  height: 131px;
  background: url('../components/div/img/technologies/java.png') no-repeat;
}
.technologies__html {
  width: 87px;
  height: 131px;
  background: url('../components/div/img/technologies/html.png') no-repeat;
}
.technologies__rails {
  width: 76px;
  height: 131px;
  background: url('../components/div/img/technologies/rails.png') no-repeat;
}

.footer-info__site-map p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: grey;
  text-transform: uppercase;
}
.footer-info__page-links {
  display: flex;
  flex-flow: row column;
}
.footer-info__page-links a {
  font-size: 13px;
  color: white;
  text-transform: capitalize;
}
.footer-info__page-links ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}
.footer-info__page-links li {
  padding-top: 20px;
}
.footer-info__riits-logo {
  display: inline-block;
  width: 96px;
  height: 49px;
  border: 0;
  padding-bottom: 40px;
  background: url('../components/div/img/footer/riits_logo.png') no-repeat;
}
.footer-info__text p {
  font-family: 'Fira Sans', sans-serif;
  color: white;
  font-size: 13px;
}
.footer-info__right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 50%;
}
.footer-info__copyright {
  padding-top: 30px;
}
.footer-info__other-logos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.footer-info__metro {
  display: inline-block;
  width: 158px;
  height: 103px;
  border: 0;
  margin-right: 60px;
  background: url('../components/div/img/footer/metro.png') no-repeat;
  background-position: center;
}
.buttons__button_no-margin {
  margin-right: 0px;
}
.footer-info__la {
  display: inline-block;
  width: 149px;
  height: 103px;
  border: 0;
  background: url('../components/div/img/footer/la.png') no-repeat;
}

@media only screen and (max-width: 1030px) {
  .container {
    width: auto;
    padding: 0 20px;
  }
  .footer-wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media only screen and (min-width: 1100px) {
  .nav-opener {
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  .nav-table {
    display: none;
  }
  .buttons {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 450px;
    margin: 0 auto 220px auto;
}

  .blabla__real-time {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .blabla__description {
    margin: 0px auto 30px auto;
  }
  .map {
    background-position-y:-54px
  }

  .header-content {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    .search {
      margin-top: 0px;
    }
    ul {
      margin-top: 30px;
    }
  }
  ul {
    flex-flow: row nowrap;
  }
  .footer-info, .footer-info__page-links, .benefits-content__large-pics, .standarts__text, .types-transportation-data__schedule, .search-results__search-field {
    flex-flow: column wrap;
  }
.types-transportation-data__schedule {
  align-items: center;
}
.search-results__search-input {
  font-size: 25px;
}
.search-results__zoom-glass {
  display: none;
}
.dropdowns{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.search-results__search-button {
  width: 100%;
}
.search-results__search-input {
  width: auto;
}
.search-results__zoom-glass {
  width: 10%;
}
.search-results__search-input {
  padding-left: 0px;
}
.dropdown {
  // width: 16%;
  padding-right: 10px;
}
.search-results {
  width: auto;
}
.types-transportation-data-wrapper {
  padding-left: 30px;
  padding-right: 30px;
}
  .footer-wrapper, .footer-info, .footer-info__left, .benefits-content__large-pics, .standarts__text, .technologies__pics {
    align-items: center;
  }
  .standarts__text-left, .standarts__text-middle, .standarts__text-right, .technologies__pics {
    width: 85%;
  }
  .page-header__no-padding-bottom {
    padding-top: 0px;
  }
  .benefits-content__pic {
    width: 100%;
  }
  .footer-info__right {
    margin-top: 40px;
    align-items: center;
  }

  .footer-info__page-links li {
    padding-top: 20px;
    text-align: center;
  }
  .footer-info__text p {
    text-align: center;
  }
  .footer-info__instagram, .buttons__button {
    margin-right: 0px;
  }
  .footer-info__page-links li {
    padding-right: 0px;
    text-align: center;
  }
  .benefits-content__large-pics {
    padding-bottom: 0px;
  }
.benefits-content__small-pics {
  justify-content: space-around;
  }
}
.page-header__text_yellow-bold-no-padding {
  padding-bottom: 0px;
}
@media only screen and (max-width: 690px) {
  .mouse, .stats {
    padding-bottom: 30px;
  }
  .page-header__text_yellow-bold {
    font-size: 25px;
  }
  .transportation-data {
    height: auto;
  }
  .header-content ul {
    align-items: center;
  }
  .blabla__real-time {
    text-transform: uppercase;
    color: #5e2900;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
  }
  .blabla__description {
    width: auto;
    text-align: center;
  }
  .buttons {
    margin-top: 44px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 30px auto;
  }
  .graph-content {
    height: auto;
  }
  .graph-content-wrapper {
    display: flex;
    flex-flow: column nowrap;
  }
  .case-studies {
    height: auto;
  }
  .third-page__graph {
    height: 100px;
    margin-bottom: 0px;
    background-position: center;
    background-size: contain;
  }
  .stats {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .fourth-page-pics {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  .fourth-page-pics__first {
    width: auto;
    height: auto;
    margin-bottom: 30px;
  }
  .fourth-page-pics__others-top {
    width: auto;
    height: auto;
    margin-bottom: 30px;
  }
  .fourth-page-pics__others-bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: auto;
    height: auto;
    margin-bottom: 30px;
  }
  .benefits-content__pic {
    margin-bottom: 30px;
    flex-flow: column;
    align-items: center;
  }
  .footer-title {
    padding-top: 0px;
    text-align: center;
  }
  .footer-wrapper {
    padding-top: 30px;
  }
  .footer-info__metro {
    margin-right: 0px;
}
.search-results__search-input {
  width: 100%;
}
  .footer-info__other-logos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  // .search__no-padding {
  //   padding-right: 0px;
  // }
  li {
    list-style-type: none;
    padding-right: 10px;
    text-align: center;
}
.page-header__button_transparent {
    background-color: transparent;
    padding-right: 25px;
    padding-left: 25px;
  }
  .page-header__text_black-small {
    font-size: 11px;
  }
}
