// colors

$yellow:           #ffd200;
$light-grey:       #818181;
$white:            #e7e7e7;
$dark-brown:       #5e2900;
$light-brown:      #604c18;
$black:            black;
$orange:           #d27b00;


// fonts

$roboto-font:      'fira', sans-serif;
$fira-sans-font:   'Fira Sans', sans-serif;


// #7a7b7b;  #888888;  #939393; #686868; #cccccc; #686868;  #dcdcdc
