<header class='container header-content'>
    <span onclick="openNav()" class='nav-opener'></span>
    <a href="#" class='logo'></a>
    <ul class='nav-table'>
      <li><input type='button' class='search'></li>
      <li><a href='#'>what is it</a></li>
      <li><a href='#'>how it works</a></li>
      <li><a href='#'>who is it for</a></li>
      <li><a href='#'>resources</a></li>
      <li class='search__no-padding'><a href='#' class='login'>login</a></li>
    </ul>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">search</a>
      <a href="#">what is it</a>
      <a href="#">how it works</a>
      <a href="#">who is it for</a>
      <a href="#">resources</a>
      <a href="#">login</a>
    </div>
</header>
<section class='transportation-data'>
    <div class='container blabla'>
      <h1 class='blabla__real-time'>real time transportation data</h1>
      <p class='blabla__description'>
        The network supports information exchange in real-time between freeway, traffic, transit and emergency service agencies to improve management of the Los Angeles County transportation system and better serve the traveling public.
      </p>
      <div class='buttons'>
        <input type="button" value='member benefits' class='buttons__button'>
        <input type="button" value='apply now' class='buttons__button'>
      </div>
      <div class='mouse'>
      </div>
    </div>
</section>
