@import 'variables';
@import 'mixins';
@import 'reset';
@import 'reusable';

@import '../components/transportationData/transportationDataStyle';
@import '../components/realTimeInformation/realTimeInformationStyle';
@import '../components/graphContent/graphContentStyle';
@import '../components/caseStudies/caseStudiesStyle';
@import '../components/benefitsContent/benefitsContentStyle';
@import '../components/typesTransportationData/typesTransportationDataStyle';
@import '../components/map/mapStyle';
@import '../components/standarts/standartsStyle';
@import '../components/technologies/technologiesStyle';
@import '../components/footer/footerStyle';


.page-header__text {
  font-family: $roboto-font;
  text-transform: uppercase;
}
.page-header__text-capitalize {
  text-transform: capitalize;
}

.page-header__text_yellow-small {
  @include color-size( $yellow, 13px );
  font-weight: normal;
}
.page-header__text_yellow-small-bold {
  @include color-size( $yellow, 13px );
  font-weight: bold;
}
.page-header__text_yellow-small-fira-sans {
  @include color-size( $yellow, 13px );
  font-family: $fira-sans-font;
  font-weight: normal;
}
.page-header__text_black-small-fira-sans {
  font-family: $fira-sans-font;
  color: black;
  font-size: 13px;
  font-weight: normal;
}
.page-header__text_yellow-bold {
  color: $yellow;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
}
.page-header__text_grey-bold {
  color: #dcdcdc;
  font-size: 30px;
  font-weight: bold;
}
.page-header__text_white-bold {
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
}
.page-header__text_yellow-bold-fira-sans {
  color: $yellow;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
}

.page-header__text_white-small {
  @include color-size( white, 13px );
  font-weight: normal;
  text-align: center;
}
.page-header__text_white-small-left-align {
  text-align: left;
  margin-left: 25px;
}

.page-header__text_black-bold {
  color: black;
  font-size: 30px;
  font-weight: bold;
  line-height: 33px;
}
.page-header__text_black-bold-small {
  font-size: 14px;
  padding-bottom: 15px;
}
.page-header__text_yellow-bold {
  color: $yellow;
  font-size: 30px;
  font-weight: bold;
}

.page-header__text_grey-small-fira-sans {
  font-family: $fira-sans-font;
  text-align: center;
  color: #939393;
}
.page-header__text_grey-small-fira-sans-left-align {
  font-family: $fira-sans-font;
  text-align: left;
  color: #939393;
  font-size: 13px;
}

.page-header__button_long {
  margin-right: 0;
  padding-right: 50px;
  padding-left: 50px;
}

.page-header__button_small-margin {
  margin-bottom: 30px;
}

.page-header__text_black-small {
  font-family: $roboto-font;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}
.page-header__button_transparent {
  background-color: transparent;
  border: 1px solid black;
  margin-right: 0;
  padding-right: 50px;
  padding-left: 50px;
}
.page-header__button_no-margin {
  margin-bottom: 0px;
}
.page-header_no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.page-header_width-no-margin {
  margin: 0;
  width: 65%;
  justify-content: flex-start;
  align-items: flex-start;
}
.page-header__text_black-small-fira-sans-font-size {
  font-size: 16px;
}

.page-header__text_black-bold-padding {
  padding-bottom: 30px;
  font-size: 16px;
  width: 100%;
}

.page-header__text-padding {
  padding-bottom: 40px;
}
.page-header__side-paddings {
  padding-left: 30px;
  padding-right: 30px;
}
.page-header__text_black-small-align-left {
  text-align: left;
}
.page-header__text_grey-small-fira-sans-light-italic {
  font-family: $fira-sans-font;
  font-family: italic;
  font-style: italic;
  font-size: 24px;
}
.page-header__no-padding-bottom {
  padding-bottom: 0px;
  align-items: baseline;
}

.buttons__button_no-margin {
  margin-right: 0px;
}

@media only screen and (min-width: 1100px) {
  .nav-opener {
    display: none;
  }
}
@media only screen and (max-width: 1100px) {

  .page-header__no-padding-bottom {
    padding-top: 0px;
  }

}
.page-header__text_yellow-bold-no-padding {
  padding-bottom: 0px;
}
@media only screen and (max-width: 690px) {
  .page-header__text_yellow-bold {
    font-size: 25px;
  }

.page-header__button_transparent {
    background-color: transparent;
    padding-right: 25px;
    padding-left: 25px;
  }
  .page-header__text_black-small {
    font-size: 11px;
  }
}
