<section>
  <div class='transportation-data'>
    <header>
      <div class='container'>
        <div class='header-content'>
          <a href="#" class='logo'></a>
          <ul>
            <li><input type='button' class='search'></li>
            <li><a href='#'>what is it</a></li>
            <li><a href='#'>how it works</a></li>
            <li><a href='#'>who is it for</a></li>
            <li><a href='#'>resources</a></li>
            <li><a href='#' class='login'>login</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class='container blabla'>
      <p class='blabla__real-time'>real time transportation data</p>
      <p class='blabla__description'>
        The network supports information exchange in real-time between freeway, traffic, transit and emergency service agencies to improve management of the Los Angeles County transportation system and better serve the traveling public.
      </p>
      <div class='buttons'>
        <input type="button" value='member benefits' class='buttons__button'>
        <input type="button" value='apply now' class='buttons__button'>
      </div>
      <div class='mouse'>
      </div>
    </div>
  </div>
  <div class='real-time-information'>
  </div>
</section>
<section>
  <div class='graph-content'>
    <div class='container'>
      <div class='graph-content-wrapper'>
        <div class='third-page__text'>
          <p class='page-title_small'>important</p>
          <p class='page-title_bold'>statistical data</p>
        </div>
        <div class='third-page__graph'>
        </div>
        <div class='stats'>
          <div class='stats__item'>
            <div class='stats_label_1'></div>
            <p class='stats__number'>
              1,100
            </p>
            <p class='stats__text'>
              Data Sets Available (across this site and the GeoHub)
            </p>
          </div>
          <div class='stats__item'>
            <div class='stats_label_2'></div>
            <p class='stats__number'>
              1,690,173
            </p>
            <p class='stats__text'>
              Employment LA City 2016
            </p>
          </div>
          <div class='stats__item'>
            <div class='stats_label_3'></div>
            <p class='stats__number'>
              166,243
            </p>
            <p class='stats__text'>
              Total Businesses LA City
            </p>
          </div>
          <div class='stats__item'>
            <div class='stats_label_4'></div>
            <p class='stats__number'>
              55,817
            </p>
            <p class='stats__text'>
              Housing Permits Issues (April 2017)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
