<section>
  <div class='transportation-data'>
    <header>
      <div class='container'>
        <div class='header-content'>
          <span onclick="openNav()" class='nav-opener'></span>
          <a href="#" class='logo'></a>

          <ul class='nav-table'>
            <li><input type='button' class='search'></li>
            <li><a href='#'>what is it</a></li>
            <li><a href='#'>how it works</a></li>
            <li><a href='#'>who is it for</a></li>
            <li><a href='#'>resources</a></li>
            <li class='search__no-padding'><a href='#' class='login'>login</a></li>
          </ul>
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">search</a>
            <a href="#">what is it</a>
            <a href="#">how it works</a>
            <a href="#">who is it for</a>
            <a href="#">resources</a>
            <a href="#">login</a>
          </div>

        </div>
      </div>
    </header>
    <div class='container blabla'>
      <p class='blabla__real-time'>real time transportation data</p>
      <p class='blabla__description'>
        The network supports information exchange in real-time between freeway, traffic, transit and emergency service agencies to improve management of the Los Angeles County transportation system and better serve the traveling public.
      </p>
      <div class='buttons'>
        <input type="button" value='member benefits' class='buttons__button'>
        <input type="button" value='apply now' class='buttons__button'>
      </div>
      <div class='mouse'>
      </div>
    </div>
  </div>

  <div class='real-time-information'>

    <!-- slider -->

    <div class="ism-slider" id="my-slider">
  <ol>
    <li>
      <img src="../../public/ism/image/slides/_u/1540275050862_585882.png">
      <div class="ism-caption ism-caption-0">Nulla lorem eros, laoreet sit amet est<br>vehicula, consequat laoreet justo.<br>Donec porttitor nulla tellus, nec sodales<br>magna viverra in. Suspendisse potenti.<br><br>Real Time data for 20 bus agencies <br>75 transit schedules and schedule<br>adherence for LA Region<br>Over 200 routes for Southern<br>Californiatr</div>
    </li>
    <li>
      <img src="../../public/ism/image/slides/aircraft-479772_1280.jpg">
      <div class="ism-caption ism-caption-0">Nulla lorem eros, laoreet sit amet est<br>vehicula, consequat laoreet justo.<br>Donec porttitor nulla tellus, nec sodales<br>magna viverra in. Suspendisse potenti.<br><br>Real Time data for 20 bus agencies <br>75 transit schedules and schedule<br>adherence for LA Region<br>Over 200 routes for Southern<br>Californiatr</div>
    </li>
    <li>
      <img src="../../public/ism/image/slides/biker-384920_1280.jpg">
      <div class="ism-caption ism-caption-0">Nulla lorem eros, laoreet sit amet est<br>vehicula, consequat laoreet justo.<br>Donec porttitor nulla tellus, nec sodales<br>magna viverra in. Suspendisse potenti.<br><br>Real Time data for 20 bus agencies <br>75 transit schedules and schedule<br>adherence for LA Region<br>Over 200 routes for Southern<br>Californiatr</div>
    </li>
    <li>
      <img src="../../public/ism/image/slides/city-690332_1280.jpg">
      <div class="ism-caption ism-caption-0">Nulla lorem eros, laoreet sit amet est<br>vehicula, consequat laoreet justo.<br>Donec porttitor nulla tellus, nec sodales<br>magna viverra in. Suspendisse potenti.<br><br>Real Time data for 20 bus agencies <br>75 transit schedules and schedule<br>adherence for LA Region<br>Over 200 routes for Southern<br>Californiatr</div>
    </li>
  </ol>
</div>

<!-- <p class="ism-badge" id="my-slider-ism-badge"><a class="ism-link" href="http://imageslidermaker.com" rel="nofollow">generated with ISM</a></p> -->
<!-- slider -->

  </div>

</section>
<section>
  <div class='graph-content'>
    <div class='container'>
      <div class='graph-content-wrapper'>
        <div class='page-header'>
          <p class='page-header__text page-header__text_yellow-small'>important</p>
          <p class='page-header__text page-header__text_yellow-bold'>statistical data</p>
        </div>
        <div class='third-page__graph'>
        </div>
        <div class='stats'>
          <div class='stats__item'>
            <div class='stats_label_1'></div>
            <p class='stats__number'>
              1,100
            </p>
            <p class='stats__text'>
              Data Sets Available (across this site and the GeoHub)
            </p>
          </div>
          <div class='stats__item'>
            <div class='stats_label_2'></div>
            <p class='stats__number'>
              1,690,173
            </p>
            <p class='stats__text'>
              Employment LA City 2016
            </p>
          </div>
          <div class='stats__item'>
            <div class='stats_label_3'></div>
            <p class='stats__number'>
              166,243
            </p>
            <p class='stats__text'>
              Total Businesses LA City
            </p>
          </div>
          <div class='stats__item'>
            <div class='stats_label_4'></div>
            <p class='stats__number'>
              55,817
            </p>
            <p class='stats__text'>
              Housing Permits Issues (April 2017)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class='case-studies'>
    <div class='container'>
      <div class='case-studies-wrapper'>
        <div class='page-header'>
          <p class='page-header__text page-header__text_grey-small-fira-sans'>specifically</p>
          <p class='page-header__text page-header__text_black-bold'>case studies</p>
        </div>
        <div class='fourth-page-pics'>
          <div class='fourth-page-pics__first'>
            <div class='fourth-page-pics__inner'>
              <div class='page-header'>
                <p class='page-header__text page-header__text_yellow-bold'>sample</p>
                <p class='page-header__text page-header__text_white-small'>Nulla lorem eros, laoreet sit amet est vehicula, consequat laoreet justo. Donec porttitor nulla tellus, nec sodales magna viverra in. Suspendisse potenti.</p>
              </div>
              <div class='page-header__button'>
                <input type="button" value="view" class="buttons__button page-header__button_long">
              </div>
            </div>
          </div>
          <div class='fourth-page-pics__others'>
            <div class='fourth-page-pics__others-top'>
              <div class='page-header'>
                <p class='page-header__text page-header__text_yellow-bold'>second</p>
                <p class='page-header__text page-header__text_white-small'>Nulla lorem eros, laoreet sit amet est vehicula, consequat laoreet justo. Donec porttitor nulla tellus, nec sodales magna viverra in. Suspendisse potenti.</p>
              </div>
              <div class='page-header__button page-header__button_small-margin'>
                <input type="button" value="view" class="buttons__button page-header__button_long">
              </div>
            </div>
            <div class='fourth-page-pics__others-bottom'>
              <div class='fourth-page-pics__others-bottom-left'>
                <div class='fourth-page-pics__pic'>
                </div>
                <div class='page-header page-header_no-padding'>
                  <p class='page-header__text page-header__text_black-bold'>third</p>
                  <p class='page-header__text page-header__text_black-small'>Nulla lorem eros, laoreet sit amet est vehicula, isse potenti.</p>
                </div>
                <div class='page-header__button page-header__button_no-margin'>
                  <input type="button" value="view" class="buttons__button page-header__button_transparent">
                </div>
              </div>
              <div class='fourth-page-pics__others-bottom-right'>
                <div class='fourth-page-pics__pic2'>
                </div>
                <div class='page-header page-header_no-padding'>
                  <p class='page-header__text page-header__text_black-bold'>fourth</p>
                  <p class='page-header__text page-header__text_black-small'>Nulla lorem eros, laoreet sit amet est vehicula, isse potenti.</p>
                </div>
                <div class='page-header__button page-header__button_no-margin'>
                  <input type="button" value="view" class="buttons__button page-header__button_transparent">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class='benefits-content'>
    <div class='container'>
      <div class='benefits-content-wrapper'>
          <div class='page-header'>
            <p class='page-header__text page-header__text_grey-small-fira-sans'>our</p>
            <p class='page-header__text page-header__text_black-bold'>benefits</p>
          </div>
          <div class='benefits-content__large-pics'>
            <div class='benefits-content__pic'>
              <div class='benefits-content__left-pic'>
              </div>
              <div class='page-header page-header_no-padding page-header_width-no-margin'>
                <p class='page-header__text page-header__text_yellow-bold'>ien data inside</p>
                <p class='page-header__text page-header__text_black-small-fira-sans page-header__text_black-small-fira-sans-font-size'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique, mauris sit a met dapibus posuere, nibh leo dapibus leo, eget iaculis dui ex ac velit. Sed ut vulputate felis, eu sollicitudin est.</p>
              </div>
            </div>
            <div class='benefits-content__pic'>
              <div class='benefits-content__right-pic'>
              </div>
              <div class='page-header page-header_no-padding page-header_width-no-margin'>
                <p class='page-header__text page-header__text_yellow-bold'>Gtfs files for all agencies on Public</p>
                <p class='page-header__text page-header__text_black-small-fira-sans page-header__text_black-small-fira-sans-font-size'>Integer maximus nisl non pretium bibendum. Aliquam aliquet est orci.</p>
              </div>
            </div>
          </div>
          <div class='benefits-content__small-pics'>
            <div class='benefits-content__small-pic-wrapper'>
              <div class='benefits-content__small-pic'>
                <div class='benefits-content__img benefits-content__plane'>
                </div>
                <div class='page-header page-header_no-padding'>
                  <p class='page-header__text page-header__text_black-bold page-header__text_black-bold-padding'>ISP API doc on Public side </p>
                  <p class='page-header__text page-header__text_black-small-fira-sans'>Donec dignissim et ante non accumsan. Ut at nisl pulvinar, euismod nunc accumsan, aliquet nulla.</p>
                </div>
              </div>
            </div>
            <div class='benefits-content__small-pic-wrapper'>
              <div class='benefits-content__small-pic'>
                <div class='benefits-content__img benefits-content__f1'>
                </div>
                <div class='page-header page-header_no-padding'>
                  <p class='page-header__text page-header__text_black-bold page-header__text_black-bold-padding'>Talend Open Studio</p>
                  <p class='page-header__text page-header__text_black-small-fira-sans'>Morbi lorem nisl, placerat eu vulputate ac, semper aliquet lorem. Mauris venenatis justo eget hendrerit fringilla.</p>
                </div>
              </div>
            </div>
            <div class='benefits-content__small-pic-wrapper'>
              <div class='benefits-content__small-pic'>
                <div class='benefits-content__img benefits-content__beatle'>
                </div>
                <div class='page-header page-header_no-padding'>
                  <p class='page-header__text page-header__text_black-bold page-header__text_black-bold-padding'>Data Warehouse</p>
                  <p class='page-header__text page-header__text_black-small-fira-sans'>Suspendisse dolor mauris, tincidunt ut tortor sit amet, posuere feugiat neque.</p>
                </div>
              </div>
            </div>
            <div class='benefits-content__small-pic-wrapper'>
              <div class='benefits-content__small-pic'>
                <div class='benefits-content__img benefits-content__rabbit'>
                </div>
                <div class='page-header page-header_no-padding'>
                  <p class='page-header__text page-header__text_black-bold page-header__text_black-bold-padding'>Sharing IDMS data</p>
                  <p class='page-header__text page-header__text_black-small-fira-sans'>Morbi lorem nisl, placerat eu vulputate ac, semper aliquet lorem. Mauris venenatis justo eget hendrerit fringilla.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class='types-transportation-data'>
    <div class='container'>
      <div class='types-transportation-data-wrapper'>
        <div class='page-header'>
          <p class='page-header__text page-header__text_yellow-small-fira-sans'>types</p>
          <p class='page-header__text page-header__text_yellow-bold'>transportation data</p>
        </div>
        <div class='types-transportation-data__schedule'>
          <div class='dropdowns'>
            <div class='dropdown'>
              <p class='page-header__text page-header__text_yellow-small-bold toggle arrow-up'>content type</p>
              <div class='content'>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'><p class='page-header__text page-header__text_white-small'>Dataset</p></button>
                </div>
              </div>
            </div>
            <div class='dropdown'>
              <p class='page-header__text page-header__text_yellow-small-bold toggle arrow-up'>topics</p>
              <div class='content'>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'><p class='page-header__text page-header__text_white-small' >Trafic data</p></button>
                </div>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'><p class='page-header__text page-header__text_white-small'>transportation</p></button>
                </div>
              </div>
            </div>
            <div class='dropdown'>
                <p class='page-header__text page-header__text_yellow-small-bold toggle arrow-up'>tags</p>
              <div id='content'>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'>
                    <p class='page-header__text page-header__text_white-small' >Highway</p>
                  </button>
                </div>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'>
                    <p class='page-header__text page-header__text_white-small'>congestion</p>
                  </button>
                </div>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'>
                    <p class='page-header__text page-header__text_white-small' >Trafic</p>
                  </button>
                </div>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'>
                    <p class='page-header__text page-header__text_white-small'>roads</p>
                  </button>
                </div>
              </div>
            </div>
            <div class='dropdown'>
              <p class='page-header__text page-header__text_yellow-small-bold toggle arrow-up'>format</p>
              <div id='content'>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'>
                    <p class='page-header__text page-header__text_white-small'>Highway</p>
                  </button>
                </div>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'>
                    <p class='page-header__text page-header__text_white-small'>congestion</p>
                  </button>
                </div>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'>
                    <p class='page-header__text page-header__text_white-small' >Trafic</p>
                  </button>
                </div>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'>
                    <p class='page-header__text page-header__text_white-small'>roads</p>
                  </button>
                </div>
              </div>
            </div>
            <div class='dropdown'>
              <p class='page-header__text page-header__text_yellow-small-bold toggle arrow-up'>author</p>
              <div id='content'>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'>
                    <p class='page-header__text page-header__text_white-small' >Highway</p>
                  </button>
                </div>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'>
                    <p class='page-header__text page-header__text_white-small'>congestion</p>
                  </button>
                </div>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'>
                    <p class='page-header__text page-header__text_white-small' >Trafic</p>
                  </button>
                </div>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'>
                    <p class='page-header__text page-header__text_white-small'>roads</p>
                  </button>
                </div>
              </div>
            </div>
            <div class='dropdown'>
              <p class='page-header__text page-header__text_yellow-small-bold toggle arrow-up'>license</p>
              <div id='content'>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'>
                    <p class='page-header__text page-header__text_white-small'>Highway</p>
                  </button>
                </div>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'>
                    <p class='page-header__text page-header__text_white-small'>congestion</p>
                  </button>
                </div>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'>
                    <p class='page-header__text page-header__text_white-small' >Trafic</p>
                  </button>
                </div>
                <div>
                  <button class='content-type-content__btn page-header__text_white-small-left-align'>
                    <p class='page-header__text page-header__text_white-small'>roads</p>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class='search-results'>
            <div class='search-results__search-field'>
              <input type="text" class='search-results__search-input' placeholder='type to search data'>
              <input type="button" class='search-results__search-button' value='search'>
          </div>
          <div class='search-results__results'>
            <div class='search-results__results-header'>
              <div class='search-results__header page-header_no-padding'>
                <p class='page-header__text page-header__text_grey-bold'>highway <span class='search-results__atual-results'>2 results</span></p>
              </div>
              <div class='search-results__filter'>
                <div class='search-results__sort-by-filter'>
                  <p class='search-results__filter-text'>
                    Sort by
                  </p>
                  <select class="search-results__sort-by-filter-select" name="">
                    <option value="data">data</option>
                  </select>
                </div>
                <div class='search-results__sort-by-filter'>
                  <p class='search-results__filter-text'>
                    Order
                  </p>
                  <select class="search-results__sort-by-filter-select" name="">
                    <option value="data">descending</option>
                  </select>
                </div>
              </div>
            </div>
            <div class='search-results__item'>
              <p class="page-header__text page-header__text_yellow-bold">transportation data</p>
              <div class='search-results__sub-title'>
                <div class='search-results__transportation-bus-img'></div>
                <p class="page-header__text-capitalize page-header__text_grey-small-fira-sans-left-align">transportation</p>
              </div>
              <p class='search-results__text-description'>Fusce pharetra auctor lorem, quis laoreet est vehicula id. Curabitur egestas vulputate libero, quis viverra diam tempus eget. Ut a nisl nec nibh fringilla commodo ac nec neque. Nullam nisl massa, porta vel turpis nec, vestibulum congue justo.</p>
            </div>
            <div class='search-results__item'>
              <p class="page-header__text page-header__text_yellow-bold">LA congestion data march 2017</p>
              <div class='search-results__sub-title'>
                <div class='search-results__transportation-bus-img'></div>
                <p class="page-header__text-capitalize page-header__text_grey-small-fira-sans-left-align">Traffic data</p>
              </div>
              <p class='search-results__text-description'>Fusce semper tristique turpis, vitae faucibus magna dapibus eget. Suspendisse sit amet risus vulputate, facilisis risus a, aliquet nibh. Suspendisse at commodo lacus.</p>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="map">
    <div class="container">
      <div class="map__info">
        <p class="page-header__text page-header__text_white-bold ">Real time operational data</p>
        <p class="page-header__text page-header__text_black-small-fira-sans">Curabitur eget massa in mauris elementum blandit ut a velit. Cras sapien nulla, accumsan et tincidunt ut, eleifend nec tortor. Vivamus placerat enim non massa vulputate fringilla. Donec sagittis mollis ante, a tempor lacus tincidunt sed.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class='standarts'>
    <div class='container'>
      <div class='standarts-wrapper'>
        <div class='page-header'>
          <p class='page-header__text page-header__text_grey-small-fira-sans'>our</p>
          <p class='page-header__text page-header__text_black-bold'>standarts</p>
        </div>
        <div class='standarts__text'>
          <div class='standarts__text-left'>
            <div class='page-header page-header__no-padding-bottom'>
              <p class='page-header__text page-header__text_yellow-bold'>ien data inside</p>
              <p class='page-header__text page-header__text_black-small page-header__text-padding page-header__text_black-small-align-left page-header__side-paddings'>Curabitur risus nibh, ultricies ac rhoncus non, gravida ut nisl. Vivamus volutpat lectus velit, ut vestibulum ipsum eleifend nec. Nulla consectetur ipsum id mi mattis, eu faucibus velit malesuada. Aenean iaculis elementum sapien, eget ullamcorper sapien commodo sit amet. Morbi porttitor, lectus id imperdiet ornare, quam quam gravida urna, nec laoreet enim orci a diam. Vestibulum quis convallis nibh. Nullam laoreet faucibus finibus.</p>
              <p class='page-header__text-padding page-header__text_grey-small-fira-sans-light-italic'>Cras dapibus nisl vel nisi luctus vulputate. In lacus ipsum, varius sed elementum ac, cursus id nisl. Integer mi neque, vulputate at ipsum sed, congue posuere eros.</p>
              <p class='page-header__text page-header__text_black-small page-header__text_black-small-align-left page-header__side-paddings'>Morbi nunc justo, mattis quis venenatis et, pharetra sed risus. Donec porttitor sollicitudin tempus. Sed sit amet egestas metus, vel rutrum dui. Ut posuere tellus sed leo ullamcorper imperdiet. Suspendisse eget ultricies justo. Quisque euismod sapien ac mauris malesuada convallis. Morbi mollis sit amet odio in semper. Curabitur vel nulla eget lorem convallis cursus.</p>
            </div>
          </div>
          <div class="standarts__text-middle">
            <div class='page-header page-header__no-padding-bottom'>
              <p class='page-header__text page-header__text_black-bold page-header__text_black-bold-small'>ISP API doc on Public side</p>
              <p class='page-header__text page-header__text_black-small page-header__text-padding page-header__text_black-small-align-left'>Donec dignissim et ante non accumsan. Ut at nisl pulvinar, euismod nunc accumsan, aliquet nulla.</p>
            </div>
            <div class='page-header page-header__no-padding-bottom'>
              <p class='page-header__text page-header__text_black-bold page-header__text_black-bold-small'>in mollis</p>
              <p class='page-header__text page-header__text_black-small page-header__text-padding page-header__text_black-small-align-left'>Sed fringilla risus et euismod viverra. In interdum finibus consequat. Suspendisse placerat nunc non tortor convallis, at ultricies massa auctor.</p>
            </div>
            <div class='page-header page-header__no-padding-bottom'>
              <p class='page-header__text page-header__text_black-bold page-header__text_black-bold-small'>Duis sagittis tortor nec</p>
              <p class='page-header__text page-header__text_black-small page-header__text-padding page-header__text_black-small-align-left'>Aliquam ornare justo a gravida eleifend. Phasellus at fermentum mi. Aliquam vel tellus orci. Fusce finibus bibendum sagittis. Vivamus sagittis a dolor at fringilla. Curabitur sit amet massa pulvinar, placerat ligula nec, sollicitudin odio. Sed imperdiet augue libero, vel bibendum risus mollis at. Proin dapibus erat in sapien consectetur, ac malesuada quam pellentesque. Praesent eu purus nec sem ornare tempor non ac arcu. Morbi at ipsum aliquam mi porttitor dictum. Ut gravida dolor eu lacus porta ornare.</p>
            </div>
          </div>
          <div class='standarts__text-right'>
            <div class='page-header page-header__no-padding-bottom'>
              <p class='page-header__text page-header__text_black-bold page-header__text_black-bold-small'>sed sit amet</p>
              <p class='page-header__text page-header__text_black-small page-header__text-padding page-header__text_black-small-align-left'>Curabitur eget massa in mauris elementum blandit ut a velit. Cras sapien nulla, accumsan et tincidunt ut, eleifend nec tortor. Vivamus placerat enim non massa vulputate fringilla. Donec sagittis mollis ante, a tempor lacus tincidunt sed. Maecenas convallis urna id tempus mollis. Donec placerat nulla turpis, ut molestie elit pulvinar eu. In malesuada tempus massa, quis sodales enim. Quisque lobortis lacus quis libero egestas, vel porta elit placerat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class='technologies'>
    <div class='container'>
      <div class='technologies-wrapper'>
        <div class='page-header'>
          <p class='page-header__text page-header__text_grey-small-fira-sans'>our</p>
          <p class='page-header__text page-header__text_black-bold'>technologies</p>
        </div>
        <div class='technologies__pics'>
          <div class='technologies__dot-net'></div>
          <div class='technologies__open-source'></div>
          <div class='technologies__android'></div>
          <div class='technologies__amazon'></div>
          <div class='technologies__azure'></div>
          <div class='technologies__java'></div>
          <div class='technologies__html'></div>
          <div class='technologies__rails'></div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class='container footer-wrapper'>
    <div class='footer-title'>
      <p class='page-header__text page-header__text_yellow-bold page-header__text_yellow-bold-no-padding'>real transportation data. real time</p>
    </div>
    <div class='footer-btn'>
      <input type="button" value="member benefits" class="buttons__button buttons__button_no-margin">
    </div>
    <div class='footer-info'>
      <div class='footer-info__left'>
        <div class='footer-info__social'>
          <a href='#' class='footer-info__social-link facebook'></a>
          <a href='#' class='footer-info__social-link twitter'></a>
          <a href='#' class='footer-info__social-link instagram'></a>
        </div>
        <div class='footer-info__site-map'>
          <p>our site map</p>
        </div>
        <div class='footer-info__page-links'>
          <ul>
            <li><a href="#">what is that</a></li>
            <li><a href="#">what is it for</a></li>
            <li><a href="#">membership benefits</a></li>
            <li><a href="#">who is it for</a></li>
            <li><a href="#">who's in already</a></li>
          </ul>
          <ul>
            <li><a href="#">free to use datasets and samples</a></li>
            <li><a href="#">RIITS major products</a></li>
            <li><a href="#">RIITS develop standarts</a></li>
            <li><a href="#">technologies used</a></li>
          </ul>
        </div>
      </div>
      <div class='footer-info__right'>
        <a href='#' class='footer-info__riits-logo'></a>
        <div class='footer-info__text'>
          <p>The Regional Integration of Intelligent Transportation Systems (RIITS) is a communication network that supports the real-time exchange of information to help manage the regional transportation system. The RIITS Network covers the entire Southern California region but is focused primarily on Los Angeles County.</p>
          <p class='footer-info__copyright'>© Copyright Parsons Corporation 2017 | Terms & Condition</p>
        </div>
        <div class='footer-info__other-logos'>
          <a href='#' class='footer-info__metro'></a>
          <a href='#' class='footer-info__la'></a>
        </div>
      </div>
    </div>
  </div>
</footer>
