<section>
  <div class='transportation-data'>
    <header>
      <div class='container'>
        <div class='header-content'>
          <a href="#" class='logo'></a>
          <ul>
            <li><input type='button' class='search'></li>
            <li><a href='#'>what is it</a></li>
            <li><a href='#'>how it works</a></li>
            <li><a href='#'>who is it for</a></li>
            <li><a href='#'>resources</a></li>
            <li class='search__no-padding'><a href='#' class='login'>login</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class='container blabla'>
      <p class='blabla__real-time'>real time transportation data</p>
      <p class='blabla__description'>
        The network supports information exchange in real-time between freeway, traffic, transit and emergency service agencies to improve management of the Los Angeles County transportation system and better serve the traveling public.
      </p>
      <div class='buttons'>
        <input type="button" value='member benefits' class='buttons__button'>
        <input type="button" value='apply now' class='buttons__button'>
      </div>
      <div class='mouse'>
      </div>
    </div>
  </div>
  <div class='real-time-information'>
  </div>
</section>
<section>
  <div class='graph-content'>
    <div class='container'>
      <div class='graph-content-wrapper'>
        <div class='page-header'>
          <p class='page-header__text page-header__text_yellow-small'>important</p>
          <p class='page-header__text page-header__text_yellow-bold'>statistical data</p>
        </div>
        <div class='third-page__graph'>
        </div>
        <div class='stats'>
          <div class='stats__item'>
            <div class='stats_label_1'></div>
            <p class='stats__number'>
              1,100
            </p>
            <p class='stats__text'>
              Data Sets Available (across this site and the GeoHub)
            </p>
          </div>
          <div class='stats__item'>
            <div class='stats_label_2'></div>
            <p class='stats__number'>
              1,690,173
            </p>
            <p class='stats__text'>
              Employment LA City 2016
            </p>
          </div>
          <div class='stats__item'>
            <div class='stats_label_3'></div>
            <p class='stats__number'>
              166,243
            </p>
            <p class='stats__text'>
              Total Businesses LA City
            </p>
          </div>
          <div class='stats__item'>
            <div class='stats_label_4'></div>
            <p class='stats__number'>
              55,817
            </p>
            <p class='stats__text'>
              Housing Permits Issues (April 2017)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class='case-studies'>
    <div class='container'>
      <div class='case-studies-wrapper'>
        <div class='page-header'>
          <p class='page-header__text page-header__text_grey-small-fira-sans'>specifically</p>
          <p class='page-header__text page-header__text_black-bold'>case studies</p>
        </div>
        <div class='fourth-page-pics'>
          <div class='fourth-page-pics__first'>
            <div class='fourth-page-pics__inner'>
              <div class='page-header'>
                <p class='page-header__text page-header__text_yellow-bold'>sample</p>
                <p class='page-header__text page-header__text_white-small'>Nulla lorem eros, laoreet sit amet est vehicula, consequat laoreet justo. Donec porttitor nulla tellus, nec sodales magna viverra in. Suspendisse potenti.</p>
              </div>
              <div class='page-header__button'>
                <input type="button" value="view" class="buttons__button page-header__button_long">
              </div>
            </div>
          </div>
          <div class='fourth-page-pics__others'>
            <div class='fourth-page-pics__others-top'>
              <div class='page-header'>
                <p class='page-header__text page-header__text_yellow-bold'>second</p>
                <p class='page-header__text page-header__text_white-small'>Nulla lorem eros, laoreet sit amet est vehicula, consequat laoreet justo. Donec porttitor nulla tellus, nec sodales magna viverra in. Suspendisse potenti.</p>
              </div>
              <div class='page-header__button page-header__button_small-margin'>
                <input type="button" value="view" class="buttons__button page-header__button_long">
              </div>
            </div>
            <div class='fourth-page-pics__others-bottom'>
              <div class='fourth-page-pics__others-bottom-left'>
                <div class='fourth-page-pics__pic'>
                </div>
                <div class='page-header page-header_no-padding'>
                  <p class='page-header__text page-header__text_black-bold'>third</p>
                  <p class='page-header__text page-header__text_black-small'>Nulla lorem eros, laoreet sit amet est vehicula, isse potenti.</p>
                </div>
                <div class='page-header__button page-header__button_no-margin'>
                  <input type="button" value="view" class="buttons__button page-header__button_transparent">
                </div>
              </div>
              <div class='fourth-page-pics__others-bottom-right'>
                <div class='fourth-page-pics__pic2'>
                </div>
                <div class='page-header page-header_no-padding'>
                  <p class='page-header__text page-header__text_black-bold'>fourth</p>
                  <p class='page-header__text page-header__text_black-small'>Nulla lorem eros, laoreet sit amet est vehicula, isse potenti.</p>
                </div>
                <div class='page-header__button page-header__button_no-margin'>
                  <input type="button" value="view" class="buttons__button page-header__button_transparent">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section>
  <div class='benefits-content'>
    <div class='container'>
      <div class='benefits-content-wrapper'>
          <div class='page-header'>
            <p class='page-header__text page-header__text_grey-small-fira-sans'>our</p>
            <p class='page-header__text page-header__text_black-bold'>benefits</p>
          </div>
          <div class='benefits-content__large-pics'>
            <div class='benefits-content__left-pic'>
              <div class='benefits-content__pic'>
              </div>
              <div class='page-header'>
                <p class='page-header__text page-header__text_yellow-bold'>ien data inside</p>
                <p class='page-header__text page-header__text_black-small-fira-sans'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique, mauris sit a met dapibus posuere, nibh leo dapibus leo, eget iaculis dui ex ac velit. Sed ut vulputate felis, eu sollicitudin est.</p>
              </div>
            </div>
          </div>
          <div class='benefits-content__small-pics'>
          </div>
      </div>
    </div>
  </div>
</section> -->
<footer>
  <div class='container footer-wrapper'>
    <div class='footer-title'>
      <p class='page-header__text page-header__text_yellow-bold page-header__text_yellow-bold-no-padding'>real transportation data. real time</p>
    </div>
    <div class='footer-btn'>
      <input type="button" value="member benefits" class="buttons__button buttons__button_no-margin">
    </div>
    <div class='footer-info'>
      <div class='footer-info__left'>
        <div class='footer-info__social'>
          <a href='#' class='footer-info__social-link facebook'></a>
          <a href='#' class='footer-info__social-link twitter'></a>
          <a href='#' class='footer-info__social-link instagram'></a>
        </div>
        <div class='footer-info__site-map'>
          <p>our site map</p>
        </div>
        <div class='footer-info__page-links'>
          <ul>
            <li><a href="#">what is that</a></li>
            <li><a href="#">what is it for</a></li>
            <li><a href="#">membership benefits</a></li>
            <li><a href="#">who is it for</a></li>
            <li><a href="#">who's in already</a></li>
          </ul>
          <ul>
            <li><a href="#">free to use datasets and samples</a></li>
            <li><a href="#">RIITS major products</a></li>
            <li><a href="#">RIITS develop standarts</a></li>
            <li><a href="#">technologies used</a></li>
          </ul>
        </div>
      </div>
      <div class='footer-info__right'>
        <a href='#' class='footer-info__riits-logo'></a>
        <div class='footer-info__text'>
          <p>The Regional Integration of Intelligent Transportation Systems (RIITS) is a communication network that supports the real-time exchange of information to help manage the regional transportation system. The RIITS Network covers the entire Southern California region but is focused primarily on Los Angeles County.</p>
          <p class='footer-info__copyright'>© Copyright Parsons Corporation 2017 | Terms & Condition</p>
        </div>
        <div class='footer-info__other-logos'>
          <a href='#' class='footer-info__metro'></a>
          <a href='#' class='footer-info__la'></a>
        </div>
      </div>
    </div>
  </div>
</footer>
