<section class='benefits-content'>
  <div class='container benefits-content-wrapper'>
    <div class='page-title'>
      <p class='grey-txt fira-sans-font up-txt'>our</p>
      <p class='black-txt bold-txt large-txt up-txt'>benefits</p>
    </div>



    <ul>


          <li class='benefits-content__pic'>
            <div class='benefits-content__left-pic'></div>
            <div class='page-title padding-t-0 padding-b-0 w65'>
              <p class='yellow-txt bold-txt large-txt padding-b-15 up-txt'>ien data inside</p>
              <p class='black-txt medium-txt fira-sans-font'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique, mauris sit a met dapibus posuere, nibh leo dapibus leo, eget iaculis dui ex ac velit. Sed ut vulputate felis, eu sollicitudin est.</p>
            </div>
          </li>
          <li class='benefits-content__pic'>
            <div class='benefits-content__right-pic'></div>
            <div class='page-title padding-t-0 padding-b-0 w65'>
              <p class='yellow-txt bold-txt large-txt padding-b-15 up-txt'>Gtfs files for all agencies on Public</p>
              <p class='black-txt medium-txt fira-sans-font'>Integer maximus nisl non pretium bibendum. Aliquam aliquet est orci.</p>
            </div>
          </li>




        <li class='benefits-content__small-pic-wrapper'>
          <div class='benefits-content__small-pic'>
            <div class='benefits-content__img benefits-content__plane'></div>
            <div class='page-title padding-t-0 padding-b-0'>
              <p class='black-txt bold-txt medium-txt padding-b-30 w100 up-txt'>ISP API doc on Public side </p>
              <p class='black-txt small-txt fira-sans-font'>Donec dignissim et ante non accumsan. Ut at nisl pulvinar, euismod nunc accumsan, aliquet nulla.</p>
            </div>
          </div>
        </li>
        <li class='benefits-content__small-pic-wrapper'>
          <div class='benefits-content__small-pic'>
            <div class='benefits-content__img benefits-content__f1'></div>
            <div class='page-title padding-t-0 padding-b-0'>
              <p class='black-txt bold-txt medium-txt padding-b-30 w100 up-txt'>Talend Open Studio</p>
              <p class='black-txt small-txt fira-sans-font'>Morbi lorem nisl, placerat eu vulputate ac, semper aliquet lorem. Mauris venenatis justo eget hendrerit fringilla.</p>
            </div>
          </div>
        </li>
        <li class='benefits-content__small-pic-wrapper'>
          <div class='benefits-content__small-pic'>
            <div class='benefits-content__img benefits-content__beatle'></div>
            <div class='page-title padding-t-0 padding-b-0'>
              <p class='black-txt bold-txt medium-txt padding-b-30 w100 up-txt'>Data Warehouse</p>
              <p class='black-txt small-txt fira-sans-font'>Suspendisse dolor mauris, tincidunt ut tortor sit amet, posuere feugiat neque.</p>
            </div>
          </div>
        </li>
        <li class='benefits-content__small-pic-wrapper'>
          <div class='benefits-content__small-pic'>
            <div class='benefits-content__img benefits-content__rabbit'></div>
            <div class='page-title padding-t-0 padding-b-0'>
              <p class='black-txt bold-txt medium-txt padding-b-30 w100 up-txt'>Sharing IDMS data</p>
              <p class='black-txt small-txt fira-sans-font'>Morbi lorem nisl, placerat eu vulputate ac, semper aliquet lorem. Mauris venenatis justo eget hendrerit fringilla.</p>
            </div>
          </div>
        </li>

    </ul>


  </div>
</section>
