<section>
  <div class='benefits-content'>
    <div class='container'>
      <div class='benefits-content-wrapper'>
          <div class='page-header'>
            <p class='page-header__text page-header__text_grey-small-fira-sans'>our</p>
            <p class='page-header__text page-header__text_black-bold'>benefits</p>
          </div>
          <div class='benefits-content__large-pics'>
            <div class='benefits-content__pic'>
              <div class='benefits-content__left-pic'>
              </div>
              <div class='page-header page-header_no-padding page-header_width-no-margin'>
                <p class='page-header__text page-header__text_yellow-bold'>ien data inside</p>
                <p class='page-header__text page-header__text_black-small-fira-sans page-header__text_black-small-fira-sans-font-size'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique, mauris sit a met dapibus posuere, nibh leo dapibus leo, eget iaculis dui ex ac velit. Sed ut vulputate felis, eu sollicitudin est.</p>
              </div>
            </div>
            <div class='benefits-content__pic'>
              <div class='benefits-content__right-pic'>
              </div>
              <div class='page-header page-header_no-padding page-header_width-no-margin'>
                <p class='page-header__text page-header__text_yellow-bold'>Gtfs files for all agencies on Public</p>
                <p class='page-header__text page-header__text_black-small-fira-sans page-header__text_black-small-fira-sans-font-size'>Integer maximus nisl non pretium bibendum. Aliquam aliquet est orci.</p>
              </div>
            </div>
          </div>
          <div class='benefits-content__small-pics'>
            <div class='benefits-content__small-pic-wrapper'>
              <div class='benefits-content__small-pic'>
                <div class='benefits-content__img benefits-content__plane'>
                </div>
                <div class='page-header page-header_no-padding'>
                  <p class='page-header__text page-header__text_black-bold page-header__text_black-bold-padding'>ISP API doc on Public side </p>
                  <p class='page-header__text page-header__text_black-small-fira-sans'>Donec dignissim et ante non accumsan. Ut at nisl pulvinar, euismod nunc accumsan, aliquet nulla.</p>
                </div>
              </div>
            </div>
            <div class='benefits-content__small-pic-wrapper'>
              <div class='benefits-content__small-pic'>
                <div class='benefits-content__img benefits-content__f1'>
                </div>
                <div class='page-header page-header_no-padding'>
                  <p class='page-header__text page-header__text_black-bold page-header__text_black-bold-padding'>Talend Open Studio</p>
                  <p class='page-header__text page-header__text_black-small-fira-sans'>Morbi lorem nisl, placerat eu vulputate ac, semper aliquet lorem. Mauris venenatis justo eget hendrerit fringilla.</p>
                </div>
              </div>
            </div>
            <div class='benefits-content__small-pic-wrapper'>
              <div class='benefits-content__small-pic'>
                <div class='benefits-content__img benefits-content__beatle'>
                </div>
                <div class='page-header page-header_no-padding'>
                  <p class='page-header__text page-header__text_black-bold page-header__text_black-bold-padding'>Data Warehouse</p>
                  <p class='page-header__text page-header__text_black-small-fira-sans'>Suspendisse dolor mauris, tincidunt ut tortor sit amet, posuere feugiat neque.</p>
                </div>
              </div>
            </div>
            <div class='benefits-content__small-pic-wrapper'>
              <div class='benefits-content__small-pic'>
                <div class='benefits-content__img benefits-content__rabbit'>
                </div>
                <div class='page-header page-header_no-padding'>
                  <p class='page-header__text page-header__text_black-bold page-header__text_black-bold-padding'>Sharing IDMS data</p>
                  <p class='page-header__text page-header__text_black-small-fira-sans'>Morbi lorem nisl, placerat eu vulputate ac, semper aliquet lorem. Mauris venenatis justo eget hendrerit fringilla.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
