<section class="map">
    <div class="container">
      <div class='map__info'>
        <p class="white-txt large-txt bold-txt padding-b-30">Real time operational data</p>
        <p class="black-txt small-txt fira-sans-font">Curabitur eget massa in mauris elementum blandit ut a velit. Cras sapien nulla, accumsan et tincidunt ut, eleifend nec tortor. Vivamus placerat enim non massa vulputate fringilla. Donec sagittis mollis ante, a tempor lacus tincidunt sed.</p>
      </div>
    </div>
</section>
