<section class="map">
    <div class="container map__info">
        <p class="page-header__text page-header__text_white-bold ">Real time operational data</p>
        <p class="page-header__text page-header__text_black-small-fira-sans">Curabitur eget massa in mauris elementum blandit ut a velit. Cras sapien nulla, accumsan et tincidunt ut, eleifend nec tortor. Vivamus placerat enim non massa vulputate fringilla. Donec sagittis mollis ante, a tempor lacus tincidunt sed.</p>
      </div>
</section>
