<footer>
  <div class='container footer-wrapper'>
    <div class='footer-title'>
      <p class='page-title__text yellow-txt bold-txt large-txt padding-b-15 padding-b-0 up-txt'>real transportation data. real time</p>
    </div>
    <div class='footer-btn'>
      <input type="button" value="member benefits" class="buttons__button buttons__button_no-margin">
    </div>
    <div class='footer-info'>
      <div class='footer-info__left'>
        <div class='footer-info__social'>
          <a href='#' class='footer-info__social-link facebook'></a>
          <a href='#' class='footer-info__social-link twitter'></a>
          <a href='#' class='footer-info__social-link instagram'></a>
        </div>
        <div class='footer-info__site-map'>
          <p>our site map</p>
        </div>
        <div class='footer-info__page-links'>
          <ul>
            <li><a href="#">what is that</a></li>
            <li><a href="#">what is it for</a></li>
            <li><a href="#">membership benefits</a></li>
            <li><a href="#">who is it for</a></li>
            <li><a href="#">who's in already</a></li>
          </ul>
          <ul>
            <li><a href="#">free to use datasets and samples</a></li>
            <li><a href="#">RIITS major products</a></li>
            <li><a href="#">RIITS develop standarts</a></li>
            <li><a href="#">technologies used</a></li>
          </ul>
        </div>
      </div>
      <div class='footer-info__right'>
        <a href='#' class='footer-info__riits-logo'></a>
        <div class='footer-info__text'>
          <p>The Regional Integration of Intelligent Transportation Systems (RIITS) is a communication network that supports the real-time exchange of information to help manage the regional transportation system. The RIITS Network covers the entire Southern California region but is focused primarily on Los Angeles County.</p>
          <p class='footer-info__copyright'>© Copyright Parsons Corporation 2017 | Terms & Condition</p>
        </div>
        <div class='footer-info__other-logos'>
          <a href='#' class='footer-info__metro'></a>
          <a href='#' class='footer-info__la'></a>
        </div>
      </div>
    </div>
  </div>
</footer>
