.standarts {
  height: auto;
  background: $white;
}
.standarts-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.standarts__text {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.standarts__text-left, .standarts__text-middle {
  width: 35%;
}
.standarts__text-right {
  width: 20%;
}
