<section class='standarts'>
    <div class='container standarts-wrapper'>
        <div class='page-title'>
          <p class='grey-txt fira-sans-font up-txt'>our</p>
          <p class='large-txt black-txt bold-txt up-txt'>standarts</p>
        </div>
        <div class='standarts__text'>
          <div class='standarts__text-left'>
            <div class='page-title padding-b-0'>
              <p class='large-txt yellow-txt bold-txt up-txt padding-b-15'>ien data inside</p>
              <p class='small-txt padding-b-40 l-al-txt padding-l-30 padding-r-30'>Curabitur risus nibh, ultricies ac rhoncus non, gravida ut nisl. Vivamus volutpat lectus velit, ut vestibulum ipsum eleifend nec. Nulla consectetur ipsum id mi mattis, eu faucibus velit malesuada. Aenean iaculis elementum sapien, eget ullamcorper sapien commodo sit amet. Morbi porttitor, lectus id imperdiet ornare, quam quam gravida urna, nec laoreet enim orci a diam. Vestibulum quis convallis nibh. Nullam laoreet faucibus finibus.</p>
              <p class='padding-b-40 italic-font'>Cras dapibus nisl vel nisi luctus vulputate. In lacus ipsum, varius sed elementum ac, cursus id nisl. Integer mi neque, vulputate at ipsum sed, congue posuere eros.</p>
              <p class='small-txt l-al-txt padding-l-30 padding-r-30'>Morbi nunc justo, mattis quis venenatis et, pharetra sed risus. Donec porttitor sollicitudin tempus. Sed sit amet egestas metus, vel rutrum dui. Ut posuere tellus sed leo ullamcorper imperdiet. Suspendisse eget ultricies justo. Quisque euismod sapien ac mauris malesuada convallis. Morbi mollis sit amet odio in semper. Curabitur vel nulla eget lorem convallis cursus.</p>
            </div>
          </div>
          <div class="standarts__text-middle">
            <div class='page-title padding-b-0'>
              <p class='medium-txt black-txt bold-txt up-txt padding-b-15'>ISP API doc on Public side</p>
              <p class='small-txt padding-b-40 l-al-txt'>Donec dignissim et ante non accumsan. Ut at nisl pulvinar, euismod nunc accumsan, aliquet nulla.</p>
            </div>
            <div class='page-title padding-b-0'>
              <p class='medium-txt black-txt bold-txt up-txt padding-b-15'>in mollis</p>
              <p class='small-txt padding-b-40 l-al-txt'>Sed fringilla risus et euismod viverra. In interdum finibus consequat. Suspendisse placerat nunc non tortor convallis, at ultricies massa auctor.</p>
            </div>
            <div class='page-title padding-b-0'>
              <p class='medium-txt black-txt bold-txt up-txt padding-b-15'>Duis sagittis tortor nec</p>
              <p class='small-txt padding-b-40 l-al-txt'>Aliquam ornare justo a gravida eleifend. Phasellus at fermentum mi. Aliquam vel tellus orci. Fusce finibus bibendum sagittis. Vivamus sagittis a dolor at fringilla. Curabitur sit amet massa pulvinar, placerat ligula nec, sollicitudin odio. Sed imperdiet augue libero, vel bibendum risus mollis at. Proin dapibus erat in sapien consectetur, ac malesuada quam pellentesque. Praesent eu purus nec sem ornare tempor non ac arcu. Morbi at ipsum aliquam mi porttitor dictum. Ut gravida dolor eu lacus porta ornare.</p>
            </div>
          </div>
          <div class='standarts__text-right'>
            <div class='page-title padding-b-0'>
              <p class='medium-txt black-txt bold-txt up-txt padding-b-15'>sed sit amet</p>
              <p class='small-txt padding-b-40 l-al-txt'>Curabitur eget massa in mauris elementum blandit ut a velit. Cras sapien nulla, accumsan et tincidunt ut, eleifend nec tortor. Vivamus placerat enim non massa vulputate fringilla. Donec sagittis mollis ante, a tempor lacus tincidunt sed. Maecenas convallis urna id tempus mollis. Donec placerat nulla turpis, ut molestie elit pulvinar eu. In malesuada tempus massa, quis sodales enim. Quisque lobortis lacus quis libero egestas, vel porta elit placerat.</p>
            </div>
          </div>
        </div>
      </div>
</section>
