<section class='types-transportation-data'>
    <div class='container types-transportation-data-wrapper'>
      <div class='page-title'>
        <p class='yellow-txt up-txt bold-txt fira-sans-font up-txt'>types</p>
        <p class='yellow-txt up-txt bold-txt large-txt padding-b-15 up-txt'>transportation data</p>
      </div>
      <div class='types-transportation-data__schedule'>
        <div class='dropdowns'>
          <div class='dropdown'>
            <p class='yellow-txt up-txt small-txt bold-txt toggle arrow-up'>content type</p>
            <div class='content'>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'><p class=' white-txt small-txt c-al-txt white'>Dataset</p></button>
              </div>
            </div>
          </div>
          <div class='dropdown'>
            <p class='yellow-txt up-txt small-txt bold-txt toggle arrow-up'>topics</p>
            <div class='content'>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'><p class=' white-txt small-txt c-al-txt' >Trafic data</p></button>
              </div>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'><p class=' white-txt small-txt c-al-txt'>transportation</p></button>
              </div>
            </div>
          </div>
          <div class='dropdown'>
              <p class='yellow-txt up-txt small-txt bold-txt toggle arrow-up'>tags</p>
            <div id='content'>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'>
                  <p class='white-txt small-txt c-al-txt' >Highway</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'>
                  <p class='white-txt small-txt c-al-txt'>congestion</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'>
                  <p class='white-txt small-txt c-al-txt' >Trafic</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'>
                  <p class='white-txt small-txt c-al-txt'>roads</p>
                </button>
              </div>
            </div>
          </div>
          <div class='dropdown'>
            <p class='yellow-txt up-txt small-txt bold-txt toggle arrow-up'>format</p>
            <div id='content'>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'>
                  <p class='white-txt small-txt c-al-txt'>Highway</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'>
                  <p class='white-txt small-txt c-al-txt'>congestion</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'>
                  <p class=' white-txt small-txt c-al-txt' >Trafic</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'>
                  <p class='white-txt small-txt c-al-txt'>roads</p>
                </button>
              </div>
            </div>
          </div>
          <div class='dropdown'>
            <p class='yellow-txt up-txt small-txt bold-txt toggle arrow-up'>author</p>
            <div id='content'>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'>
                  <p class=' white-txt small-txt c-al-txt' >Highway</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'>
                  <p class='white-txt small-txt c-al-txt'>congestion</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'>
                  <p class='white-txt small-txt c-al-txt' >Trafic</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'>
                  <p class='white-txt small-txt c-al-txt'>roads</p>
                </button>
              </div>
            </div>
          </div>
          <div class='dropdown'>
            <p class='yellow-txt up-txt small-txt bold-txt toggle arrow-up'>license</p>
            <div id='content'>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'>
                  <p class='white-txt small-txt c-al-txt'>Highway</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'>
                  <p class='white-txt small-txt c-al-txt'>congestion</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'>
                  <p class='white-txt small-txt c-al-txt' >Trafic</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn margin-l-25 l-al-txt'>
                  <p class='white-txt small-txt c-al-txt'>roads</p>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class='search-results'>
          <div class='search-results__search-field'>
            <input type="text" class='search-results__search-input' placeholder='type to search data'>
            <input type="button" class='search-results__search-button' value='search'>
        </div>
        <div class='search-results__results'>
          <div class='search-results__results-header'>
            <div class='search-results__header padding-t-0 padding-b-0'>
              <p class='grey-txt large-txt bold-txt'>highway <span class='search-results__atual-results'>2 results</span></p>
            </div>
            <div class='search-results__filter'>
              <div class='search-results__sort-by-filter'>
                <p class='search-results__filter-text'>
                  Sort by
                </p>
                <select class="search-results__sort-by-filter-select" name="">
                  <option value="data">data</option>
                </select>
              </div>
              <div class='search-results__sort-by-filter'>
                <p class='search-results__filter-text'>
                  Order
                </p>
                <select class="search-results__sort-by-filter-select" name="">
                  <option value="data">descending</option>
                </select>
              </div>
            </div>
          </div>
          <div class='search-results__item'>
            <p class="yellow-txt up-txt large-txt bold-txt up-txt">transportation data</p>
            <div class='search-results__sub-title'>
              <div class='search-results__transportation-bus-img'></div>
              <p class="cap-txt fira-sans-font l-al-txt grey-txt small-txt">transportation</p>
            </div>
            <p class='search-results__text-description'>Fusce pharetra auctor lorem, quis laoreet est vehicula id. Curabitur egestas vulputate libero, quis viverra diam tempus eget. Ut a nisl nec nibh fringilla commodo ac nec neque. Nullam nisl massa, porta vel turpis nec, vestibulum congue justo.</p>
          </div>
          <div class='search-results__item'>
            <p class="yellow-txt up-txt large-txt bold-txt up-txt">LA congestion data march 2017</p>
            <div class='search-results__sub-title'>
              <div class='search-results__transportation-bus-img'></div>
              <p class="cap-txt fira-sans-font l-al-txt grey-txt small-txt">Traffic data</p>
            </div>
            <p class='search-results__text-description'>Fusce semper tristique turpis, vitae faucibus magna dapibus eget. Suspendisse sit amet risus vulputate, facilisis risus a, aliquet nibh. Suspendisse at commodo lacus.</p>
          </div>
        </div>
      </div>
        </div>
      </div>
</section>
