<section class='types-transportation-data'>
    <div class='container types-transportation-data-wrapper'>
      <div class='page-title'>
        <p class='page-header__text page-header__text_yellow-small-fira-sans'>types</p>
        <p class='page-header__text page-header__text_yellow-bold'>transportation data</p>
      </div>
      <div class='types-transportation-data__schedule'>
        <div class='dropdowns'>
          <div class='dropdown'>
            <p class='page-header__text page-header__text_yellow-small-bold toggle arrow-up'>content type</p>
            <div class='content'>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'><p class='page-header__text page-header__text_white-small'>Dataset</p></button>
              </div>
            </div>
          </div>
          <div class='dropdown'>
            <p class='page-header__text page-header__text_yellow-small-bold toggle arrow-up'>topics</p>
            <div class='content'>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'><p class='page-header__text page-header__text_white-small' >Trafic data</p></button>
              </div>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'><p class='page-header__text page-header__text_white-small'>transportation</p></button>
              </div>
            </div>
          </div>
          <div class='dropdown'>
              <p class='page-header__text page-header__text_yellow-small-bold toggle arrow-up'>tags</p>
            <div id='content'>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'>
                  <p class='page-header__text page-header__text_white-small' >Highway</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'>
                  <p class='page-header__text page-header__text_white-small'>congestion</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'>
                  <p class='page-header__text page-header__text_white-small' >Trafic</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'>
                  <p class='page-header__text page-header__text_white-small'>roads</p>
                </button>
              </div>
            </div>
          </div>
          <div class='dropdown'>
            <p class='page-header__text page-header__text_yellow-small-bold toggle arrow-up'>format</p>
            <div id='content'>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'>
                  <p class='page-header__text page-header__text_white-small'>Highway</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'>
                  <p class='page-header__text page-header__text_white-small'>congestion</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'>
                  <p class='page-header__text page-header__text_white-small' >Trafic</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'>
                  <p class='page-header__text page-header__text_white-small'>roads</p>
                </button>
              </div>
            </div>
          </div>
          <div class='dropdown'>
            <p class='page-header__text page-header__text_yellow-small-bold toggle arrow-up'>author</p>
            <div id='content'>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'>
                  <p class='page-header__text page-header__text_white-small' >Highway</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'>
                  <p class='page-header__text page-header__text_white-small'>congestion</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'>
                  <p class='page-header__text page-header__text_white-small' >Trafic</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'>
                  <p class='page-header__text page-header__text_white-small'>roads</p>
                </button>
              </div>
            </div>
          </div>
          <div class='dropdown'>
            <p class='page-header__text page-header__text_yellow-small-bold toggle arrow-up'>license</p>
            <div id='content'>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'>
                  <p class='page-header__text page-header__text_white-small'>Highway</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'>
                  <p class='page-header__text page-header__text_white-small'>congestion</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'>
                  <p class='page-header__text page-header__text_white-small' >Trafic</p>
                </button>
              </div>
              <div>
                <button class='content-type-content__btn page-header__text_white-small-left-align'>
                  <p class='page-header__text page-header__text_white-small'>roads</p>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class='search-results'>
          <div class='search-results__search-field'>
            <input type="text" class='search-results__search-input' placeholder='type to search data'>
            <input type="button" class='search-results__search-button' value='search'>
        </div>
        <div class='search-results__results'>
          <div class='search-results__results-header'>
            <div class='search-results__header page-header_no-padding'>
              <p class='page-header__text page-header__text_grey-bold'>highway <span class='search-results__atual-results'>2 results</span></p>
            </div>
            <div class='search-results__filter'>
              <div class='search-results__sort-by-filter'>
                <p class='search-results__filter-text'>
                  Sort by
                </p>
                <select class="search-results__sort-by-filter-select" name="">
                  <option value="data">data</option>
                </select>
              </div>
              <div class='search-results__sort-by-filter'>
                <p class='search-results__filter-text'>
                  Order
                </p>
                <select class="search-results__sort-by-filter-select" name="">
                  <option value="data">descending</option>
                </select>
              </div>
            </div>
          </div>
          <div class='search-results__item'>
            <p class="page-header__text page-header__text_yellow-bold">transportation data</p>
            <div class='search-results__sub-title'>
              <div class='search-results__transportation-bus-img'></div>
              <p class="page-header__text-capitalize page-header__text_grey-small-fira-sans-left-align">transportation</p>
            </div>
            <p class='search-results__text-description'>Fusce pharetra auctor lorem, quis laoreet est vehicula id. Curabitur egestas vulputate libero, quis viverra diam tempus eget. Ut a nisl nec nibh fringilla commodo ac nec neque. Nullam nisl massa, porta vel turpis nec, vestibulum congue justo.</p>
          </div>
          <div class='search-results__item'>
            <p class="page-header__text page-header__text_yellow-bold">LA congestion data march 2017</p>
            <div class='search-results__sub-title'>
              <div class='search-results__transportation-bus-img'></div>
              <p class="page-header__text-capitalize page-header__text_grey-small-fira-sans-left-align">Traffic data</p>
            </div>
            <p class='search-results__text-description'>Fusce semper tristique turpis, vitae faucibus magna dapibus eget. Suspendisse sit amet risus vulputate, facilisis risus a, aliquet nibh. Suspendisse at commodo lacus.</p>
          </div>
        </div>
      </div>
        </div>
      </div>
</section>
